<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="581c9379-ebea-420b-9813-dcf67c3ae105" name="TestSuite-DEV-AccessAndBlockingData" xmlns:con="http://eviware.com/soapui/config">
  <con:description>Create data in drc for check data view for user NOVA-Agent based on requirements in SVN:
svn://svn.sg.de.pri.o2.com/DealerPortal/DirectRecharge/trunk/SRs/DirectDelivery/SR-74520_NOVA_RoA-full_DRC-GUI-Enhancements/SR74520_U-036_DRC_ASRI.docx
All transactions for msisdn must be collected in response.
Validate data viewed for nova agant.
Tests blocked data.</con:description>
  <con:settings>
    <con:setting id="581c9379-ebea-420b-9813-dcf67c3ae105fileName">TestSuite-DEV-AccessAndBlockingData</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>MSISDN-1</con:name>
      <con:value>4917898765432</con:value>
    </con:property>
    <con:property>
      <con:name>MSISDN-2</con:name>
      <con:value>4915132191280</con:value>
    </con:property>
    <con:property>
      <con:name>MSISDN-ATM</con:name>
      <con:value>4917810000001</con:value>
    </con:property>
    <con:property>
      <con:name>MSISDN-Charging</con:name>
      <con:value>4917810000002</con:value>
    </con:property>
    <con:property>
      <con:name>MSISDN-CC</con:name>
      <con:value>4915110000000</con:value>
    </con:property>
    <con:property>
      <con:name>MSISDN-Voucher</con:name>
      <con:value>4917810000004</con:value>
    </con:property>
    <con:property>
      <con:name>MSISDN-manualCharging</con:name>
      <con:value>4917810000005</con:value>
    </con:property>
    <con:property>
      <con:name>MSISDN-bankTransfer</con:name>
      <con:value>4917810000006</con:value>
    </con:property>
    <con:property>
      <con:name>MSISDN-Tchibo</con:name>
      <con:value>4915032190303</con:value>
    </con:property>
    <con:property>
      <con:name>MSISDN-MiPay</con:name>
      <con:value>4917810000010</con:value>
    </con:property>
    <con:property>
      <con:name>MSISDN-Rator</con:name>
      <con:value>4917810000011</con:value>
    </con:property>
    <con:property>
      <con:name>MSISDN-Drillisch</con:name>
      <con:value>4915032150238</con:value>
    </con:property>
    <con:property>
      <con:name>MSISDN-MoDe</con:name>
      <con:value>4915032161151</con:value>
    </con:property>
    <con:property>
      <con:name>amount</con:name>
      <con:value>1.99</con:value>
    </con:property>
    <con:property>
      <con:name>amountCent</con:name>
      <con:value>199</con:value>
    </con:property>
    <con:property>
      <con:name>amountGUI</con:name>
      <con:value>19900</con:value>
    </con:property>
    <con:property>
      <con:name>bankAccountOwner</con:name>
      <con:value>GDPR-bankAccountOwner</con:value>
    </con:property>
    <con:property>
      <con:name>ultimateDebtor</con:name>
      <con:value>GDPR-ultimateDebtor</con:value>
    </con:property>
    <con:property>
      <con:name>contractID-1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>contractID-2</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>contractID-Charging</con:name>
      <con:value>610507793170668</con:value>
    </con:property>
    <con:property>
      <con:name>GDPR-User</con:name>
      <con:value xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
    </con:property>
  </con:properties>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="e385afea-1153-4d90-83b9-3b49a724f0ea">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
