<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="95518349-45ea-47f9-b863-8788660ad1ee" name="TestSuite-DEV-ArchivingAndDeleting" xmlns:con="http://eviware.com/soapui/config">
  <con:description>This test-suites must be deactivated in the project!
This test-suite must be executed manual min. one time before deployment to prod or e2e environment.

Attantion!
Archiving and deleting remove and delete all transactions data in data base from test environment.</con:description>
  <con:settings>
    <con:setting id="95518349-45ea-47f9-b863-8788660ad1eefileName">TestSuite-DEV-ArchivingAndDeleting</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="e385afea-1153-4d90-83b9-3b49a724f0ea">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
