<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="f5c73904-425c-4470-a6cb-808a1ba570a5" name="TestSuite-DEV-Jobs" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:description>Contains help test-case for validation and execution drc jobs</con:description>
  <con:settings>
    <con:setting id="f5c73904-425c-4470-a6cb-808a1ba570a5fileName">TestSuite-DEV-Jobs</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="e385afea-1153-4d90-83b9-3b49a724f0ea">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
