<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="77fd1c7a-d7da-4dc3-a9d1-32b8a79befdc" name="TestSuite-DEV-DataTransferToReportingDB" xmlns:con="http://eviware.com/soapui/config">
  <con:description>Tests  transition new topups from drc to reporting db.</con:description>
  <con:settings>
    <con:setting id="77fd1c7a-d7da-4dc3-a9d1-32b8a79befdcfileName">TestSuite-DEV-DataTransferToReportingDB</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>Amount-Default</con:name>
      <con:value>100</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="e385afea-1153-4d90-83b9-3b49a724f0ea">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
