<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:WsdlInterface" id="82a5f1e1-4103-4af4-99cb-77e376fdcdd1" wsaVersion="200508" name="VoucherRedemptionEvolutionServiceSoapBinding" type="wsdl" bindingName="{urn:tefo2de:VoucherRedemptionEvolutionService}VoucherRedemptionEvolutionServiceSoapBinding" soapVersion="1_1" anonymous="optional" definition="${#Project#drc-voucherRedemptionEvolutionService-URL}?wsdl" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="82a5f1e1-4103-4af4-99cb-77e376fdcdd1fileName">VoucherRedemptionEvolutionServiceSoapBinding</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart="http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/VoucherRedemptionEvolutionService?wsdl">
    <con:part>
      <con:url>http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/VoucherRedemptionEvolutionService?wsdl</con:url>
      <con:content><![CDATA[<wsdl:definitions name="VoucherRedemptionEvolutionService" targetNamespace="urn:tefo2de:VoucherRedemptionEvolutionService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:types="http://soap.types.soa.voucherredemption.service.directrecharge.o2.com" xmlns:tns="urn:tefo2de:VoucherRedemptionEvolutionService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://soap.soa.voucherredemption.service.directrecharge.o2.com">
      <xsd:import namespace="http://soap.types.soa.voucherredemption.service.directrecharge.o2.com" schemaLocation="http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/VoucherRedemptionEvolutionService?xsd=schema/VoucherRedemptionEvolution.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DRCServiceNotAvailableException">
    <wsdl:part element="types:DRCGenericFault" name="fault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="redeemVoucher">
    <wsdl:part element="types:RedeemVoucher" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="TechnicalException">
    <wsdl:part element="types:TechnicalExceptionEnum" name="fault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="VerifyAvailabilityResponseMessage">
    <wsdl:part element="types:VerifyAvailabilityResponse" name="VerifyAvailabilityResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="redeemVoucherResponse">
    <wsdl:part element="types:RedeemVoucherResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="VerifyAvailabilityRequestMessage">
    <wsdl:part element="types:VerifyAvailabilityRequest" name="VerifyAvailabilityRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="VoucherRedemptionEvolutionServicePort">
    <wsdl:operation name="redeemVoucher">
      <wsdl:input message="tns:redeemVoucher" name="redeemVoucher" wsam:Action="urn:tefo2de:VoucherRedemptionEvolutionService_v01:redeemVoucher"></wsdl:input>
      <wsdl:output message="tns:redeemVoucherResponse" name="redeemVoucherResponse"></wsdl:output>
      <wsdl:fault message="tns:TechnicalException" name="TechnicalException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="verifyAvailability">
      <wsdl:input message="tns:VerifyAvailabilityRequestMessage" wsam:Action="urn:tefo2de:VoucherRedemptionEvolutionService_v01:verifyAvailability"></wsdl:input>
      <wsdl:output message="tns:VerifyAvailabilityResponseMessage"></wsdl:output>
      <wsdl:fault message="tns:DRCServiceNotAvailableException" name="DRCGenericFault"></wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VoucherRedemptionEvolutionServiceSoapBinding" type="tns:VoucherRedemptionEvolutionServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsp:PolicyReference URI="#VoucherRedemptionEvolution_WSAddressing_policy"/>
    <wsdl:operation name="redeemVoucher">
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="verifyAvailability">
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DRCGenericFault">
        <soap:fault name="DRCGenericFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VoucherRedemptionEvolutionService">
    <wsdl:port binding="tns:VoucherRedemptionEvolutionServiceSoapBinding" name="VoucherRedemptionEvolutionServicePort">
      <soap:address location="http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/VoucherRedemptionEvolutionService"/>
    </wsdl:port>
  </wsdl:service>
  <wsp:Policy wss:Id="VoucherRedemptionEvolution_WSAddressing_policy">
    <wsam:Addressing>
      <wsp:Policy/>
    </wsam:Addressing>
  </wsp:Policy>
</wsdl:definitions>]]></con:content>
      <con:type>http://schemas.xmlsoap.org/wsdl/</con:type>
    </con:part>
    <con:part>
      <con:url>http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/VoucherRedemptionEvolutionService?xsd=schema/VoucherRedemptionEvolution.xsd</con:url>
      <con:content><![CDATA[<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://soap.types.soa.voucherredemption.service.directrecharge.o2.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://soap.types.soa.voucherredemption.service.directrecharge.o2.com">
  <xsd:simpleType name="MSISDN">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(\+49|0049|49|0)[1-9]\d{8,11}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="VoucherCode">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="6"/>
      <xsd:maxLength value="16"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PackName">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ResultCode">
    <xsd:restriction base="xsd:long">
      <xsd:enumeration value="0">
        <xsd:annotation>
          <xsd:documentation>Operation successful</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="1">
        <xsd:annotation>
          <xsd:documentation>Duplicated: A request with the same data was
						already successfully processed</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="1000">
        <xsd:annotation>
          <xsd:documentation>MSISDN invalid</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="1001">
        <xsd:annotation>
          <xsd:documentation>VOUCHER CODE invalid</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="1002">
        <xsd:annotation>
          <xsd:documentation>No service provider found for given MSISDN</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="1003">
        <xsd:annotation>
          <xsd:documentation>Service provider does not have permission for
						using of this service</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="1004">
        <xsd:annotation>
          <xsd:documentation>Voucher used up</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="1005">
        <xsd:annotation>
          <xsd:documentation>Voucher expired</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="1006">
        <xsd:annotation>
          <xsd:documentation>All other validation errors</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="1007">
        <xsd:annotation>
          <xsd:documentation>IN account for given MSISDN expired or invalid</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="2000">
        <xsd:annotation>
          <xsd:documentation>Already in progress: a request with the same
						data is currently processing by another thread</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="2010">
        <xsd:annotation>
          <xsd:documentation>External application unavailable</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="2020">
        <xsd:annotation>
          <xsd:documentation>Error delivered from Piranha application</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="2040">
        <xsd:annotation>
          <xsd:documentation>Error delivered from OCS application</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="2050">
        <xsd:annotation>
          <xsd:documentation>Error delivered from VoMS application</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="VoucherType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="MONETARY">
        <xsd:annotation>
          <xsd:documentation>Voucher has monetary value</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="PACK">
        <xsd:annotation>
          <xsd:documentation>Voucher for booking a pack</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="TechnicalExceptionEnum" type="TechnicalExceptionEnum"/>
  <xsd:simpleType name="TechnicalExceptionEnum">
    <xsd:annotation>
      <xsd:documentation>Possible technical errors</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="COMMON_TECHNICAL_ERROR">
        <xsd:annotation>
          <xsd:documentation>Common technical error</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SourceNameEnum">
    <xsd:annotation>
      <xsd:documentation>Possible names of source applications</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Piranha">
        <xsd:annotation>
          <xsd:documentation>Piranha</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="OCS">
        <xsd:annotation>
          <xsd:documentation>OCS</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="VoMS">
        <xsd:annotation>
          <xsd:documentation>VoMS</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Result">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="success" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="resultCode" type="ResultCode"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="resultMessage" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="externalError" type="ExternalError"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ExternalError">
    <xsd:annotation>
      <xsd:documentation>The original error delivered from a source
				application.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="errorCode" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="errorMessage" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="sourceName" type="SourceNameEnum"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RedeemVoucher" type="RedeemVoucher"/>
  <xsd:complexType name="RedeemVoucher">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="msisdn" type="MSISDN"/>
      <xsd:element minOccurs="1" name="voucherCode" type="VoucherCode"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RedeemVoucherResponse" type="RedeemVoucherResponse"/>
  <xsd:complexType name="RedeemVoucherResponse">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="result" type="Result"/>
      <xsd:element minOccurs="0" name="voucherType" type="VoucherType"/>
      <xsd:element minOccurs="0" name="monetaryAmount" type="xsd:long"/>
      <xsd:element minOccurs="0" name="packName" type="PackName"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="VerifyAvailabilityRequest">
    <xsd:complexType>
      <xsd:sequence/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="VerifyAvailabilityResponse">
    <xsd:annotation>
      <xsd:documentation>Verify Redeem Voucher Service Response</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="result" type="xsd:boolean"/>
        <xsd:element minOccurs="1" name="remarks" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DRCGenericFault">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="code" type="xsd:string"/>
        <xsd:element name="msg" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>]]></con:content>
      <con:type>http://www.w3.org/2001/XMLSchema</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints>
    <con:endpoint>${#Project#drc-voucherRedemptionEvolutionService-URL}</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="e385afea-1153-4d90-83b9-3b49a724f0ea">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
