<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="9708397a-702d-43ff-96b5-fe42acd071fa" name="TestSuite-DEV-JobsChecks" xmlns:con="http://eviware.com/soapui/config">
  <con:description>Tests data logged from executed  jobs for job monitoring</con:description>
  <con:settings>
    <con:setting id="9708397a-702d-43ff-96b5-fe42acd071fafileName">TestSuite-DEV-JobsChecks</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="e385afea-1153-4d90-83b9-3b49a724f0ea">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
