<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="bfe18a8c-64ec-4b4d-8963-cc06f226d246" wadlVersion="http://wadl.dev.java.net/2009/02" name="GPS" type="rest" definitionUrl="file:/D:/Projects/Telefonica/DirectReCharge/soapUI-NG-Pro/WSDLs/GPS/gps_v1.4.wadl" basePath="/gps/v1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="bfe18a8c-64ec-4b4d-8963-cc06f226d246fileName">GPS</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart="file:/D:/Projects/Telefonica/DirectReCharge/src/trunk/SRs/Interfaces/GPS/gps_v1.0.wadl">
    <con:part>
      <con:url>file:/D:/Projects/Telefonica/DirectReCharge/src/trunk/SRs/Interfaces/GPS/gps_v1.0.wadl</con:url>
      <con:content><![CDATA[<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:gps="http://gps.telefonica.com/types">
  <grammars>
    <include href="gps_types_v1.0.xsd"/>
  </grammars>
  <resources base="http://localhost:8090/gps/v1">
    <resource path="/creditcards">
      <resource path="/registrations">
        <method name="POST" id="initCreditCardRegistrationPayment">
          <request>
            <representation mediaType="application/json" element="gps:creditCardRegistrationPayment"/>
            <representation mediaType="application/xml" element="gps:creditCardRegistrationPayment"/>
          </request>
          <response status="200">
            <representation mediaType="application/json" element="gps:paymentServiceProviderForm"/>
            <representation mediaType="application/xml" element="gps:paymentServiceProviderForm"/>
          </response>
          <response status="400">
            <representation mediaType="application/json" element="gps:errorResponse"/>
            <representation mediaType="application/xml" element="gps:errorResponse"/>
          </response>
          <response status="402">
            <representation mediaType="application/json" element="gps:errorResponse"/>
            <representation mediaType="application/xml" element="gps:errorResponse"/>
          </response>
          <response status="500">
            <representation mediaType="application/json" element="gps:errorResponse"/>
            <representation mediaType="application/xml" element="gps:errorResponse"/>
          </response>
          <response status="502">
            <representation mediaType="application/json" element="gps:errorResponse"/>
            <representation mediaType="application/xml" element="gps:errorResponse"/>
          </response>
          <response status="503">
            <representation mediaType="application/json" element="gps:errorResponse"/>
            <representation mediaType="application/xml" element="gps:errorResponse"/>
          </response>
        </method>
        <resource path="{token}">
          <param name="token" style="template" type="gps:token"/>
          <method name="GET" id="getCreditCardRegistrationPaymentByToken">
            <response status="200">
              <representation mediaType="application/json" element="gps:transaction"/>
              <representation mediaType="application/xml" element="gps:transaction"/>
            </response>
            <response status="400">
              <representation mediaType="application/json" element="gps:errorResponse"/>
              <representation mediaType="application/xml" element="gps:errorResponse"/>
            </response>
            <response status="402">
              <representation mediaType="application/json" element="gps:errorResponse"/>
              <representation mediaType="application/xml" element="gps:errorResponse"/>
            </response>
            <response status="500">
              <representation mediaType="application/json" element="gps:errorResponse"/>
              <representation mediaType="application/xml" element="gps:errorResponse"/>
            </response>
            <response status="502">
              <representation mediaType="application/json" element="gps:errorResponse"/>
              <representation mediaType="application/xml" element="gps:errorResponse"/>
            </response>
            <response status="503">
              <representation mediaType="application/json" element="gps:errorResponse"/>
              <representation mediaType="application/xml" element="gps:errorResponse"/>
            </response>
          </method>
        </resource>
      </resource>
      <resource path="{aliasId}">
        <param name="aliasId" style="template" type="gps:creditCardAliasId"/>
        <method name="GET" id="getCreditCardByAliasId">
          <response status="200">
            <representation mediaType="application/json" element="gps:creditCard"/>
            <representation mediaType="application/xml" element="gps:creditCard"/>
          </response>
          <response status="400">
            <representation mediaType="application/json" element="gps:errorResponse"/>
            <representation mediaType="application/xml" element="gps:errorResponse"/>
          </response>
          <response status="500">
            <representation mediaType="application/json" element="gps:errorResponse"/>
            <representation mediaType="application/xml" element="gps:errorResponse"/>
          </response>
          <response status="502">
            <representation mediaType="application/json" element="gps:errorResponse"/>
            <representation mediaType="application/xml" element="gps:errorResponse"/>
          </response>
          <response status="503">
            <representation mediaType="application/json" element="gps:errorResponse"/>
            <representation mediaType="application/xml" element="gps:errorResponse"/>
          </response>
        </method>
        <resource path="/transactions">
          <method name="POST" id="authorizeRegisteredCreditCardPayment">
            <request>
              <representation mediaType="application/json" element="gps:payment"/>
              <representation mediaType="application/xml" element="gps:payment"/>
            </request>
            <response status="200">
              <representation mediaType="application/json" element="gps:transaction"/>
              <representation mediaType="application/xml" element="gps:transaction"/>
            </response>
            <response status="400">
              <representation mediaType="application/json" element="gps:errorResponse"/>
              <representation mediaType="application/xml" element="gps:errorResponse"/>
            </response>
            <response status="402">
              <representation mediaType="application/json" element="gps:errorResponse"/>
              <representation mediaType="application/xml" element="gps:errorResponse"/>
            </response>
            <response status="500">
              <representation mediaType="application/json" element="gps:errorResponse"/>
              <representation mediaType="application/xml" element="gps:errorResponse"/>
            </response>
            <response status="502">
              <representation mediaType="application/json" element="gps:errorResponse"/>
              <representation mediaType="application/xml" element="gps:errorResponse"/>
            </response>
            <response status="503">
              <representation mediaType="application/json" element="gps:errorResponse"/>
              <representation mediaType="application/xml" element="gps:errorResponse"/>
            </response>
          </method>
        </resource>
        <resource path="/deregister">
          <method name="PATCH" id="deregisterCreditCard">
            <response status="200">
              <representation mediaType="application/json" element="gps:creditCard"/>
              <representation mediaType="application/xml" element="gps:creditCard"/>
            </response>
            <response status="400">
              <representation mediaType="application/json" element="gps:errorResponse"/>
              <representation mediaType="application/xml" element="gps:errorResponse"/>
            </response>
            <response status="402">
              <representation mediaType="application/json" element="gps:errorResponse"/>
              <representation mediaType="application/xml" element="gps:errorResponse"/>
            </response>
            <response status="500">
              <representation mediaType="application/json" element="gps:errorResponse"/>
              <representation mediaType="application/xml" element="gps:errorResponse"/>
            </response>
            <response status="502">
              <representation mediaType="application/json" element="gps:errorResponse"/>
              <representation mediaType="application/xml" element="gps:errorResponse"/>
            </response>
            <response status="503">
              <representation mediaType="application/json" element="gps:errorResponse"/>
              <representation mediaType="application/xml" element="gps:errorResponse"/>
            </response>
          </method>
        </resource>
      </resource>
    </resource>
    <resource path="/transactions">
      <resource path="{transactionId}">
        <param name="transactionId" style="template" type="gps:transactionId"/>
        <method name="GET" id="getTransactionById">
          <response status="200">
            <representation mediaType="application/json" element="gps:transaction"/>
            <representation mediaType="application/xml" element="gps:transaction"/>
          </response>
          <response status="400">
            <representation mediaType="application/json" element="gps:errorResponse"/>
            <representation mediaType="application/xml" element="gps:errorResponse"/>
          </response>
          <response status="500">
            <representation mediaType="application/json" element="gps:errorResponse"/>
            <representation mediaType="application/xml" element="gps:errorResponse"/>
          </response>
          <response status="502">
            <representation mediaType="application/json" element="gps:errorResponse"/>
            <representation mediaType="application/xml" element="gps:errorResponse"/>
          </response>
          <response status="503">
            <representation mediaType="application/json" element="gps:errorResponse"/>
            <representation mediaType="application/xml" element="gps:errorResponse"/>
          </response>
        </method>
        <resource path="/capture">
          <method name="PATCH" id="captureTransaction">
            <request>
              <representation mediaType="application/json" element="gps:captureParameters"/>
              <representation mediaType="application/xml" element="gps:captureParameters"/>
            </request>
            <response status="200">
              <representation mediaType="application/json" element="gps:transaction"/>
              <representation mediaType="application/xml" element="gps:transaction"/>
            </response>
            <response status="400">
              <representation mediaType="application/json" element="gps:errorResponse"/>
              <representation mediaType="application/xml" element="gps:errorResponse"/>
            </response>
            <response status="402">
              <representation mediaType="application/json" element="gps:errorResponse"/>
              <representation mediaType="application/xml" element="gps:errorResponse"/>
            </response>
            <response status="500">
              <representation mediaType="application/json" element="gps:errorResponse"/>
              <representation mediaType="application/xml" element="gps:errorResponse"/>
            </response>
            <response status="502">
              <representation mediaType="application/json" element="gps:errorResponse"/>
              <representation mediaType="application/xml" element="gps:errorResponse"/>
            </response>
            <response status="503">
              <representation mediaType="application/json" element="gps:errorResponse"/>
              <representation mediaType="application/xml" element="gps:errorResponse"/>
            </response>
          </method>
        </resource>
        <resource path="/cancel">
          <method name="PATCH" id="cancelTransaction">
            <response status="200">
              <representation mediaType="application/json" element="gps:transaction"/>
              <representation mediaType="application/xml" element="gps:transaction"/>
            </response>
            <response status="400">
              <representation mediaType="application/json" element="gps:errorResponse"/>
              <representation mediaType="application/xml" element="gps:errorResponse"/>
            </response>
            <response status="402">
              <representation mediaType="application/json" element="gps:errorResponse"/>
              <representation mediaType="application/xml" element="gps:errorResponse"/>
            </response>
            <response status="500">
              <representation mediaType="application/json" element="gps:errorResponse"/>
              <representation mediaType="application/xml" element="gps:errorResponse"/>
            </response>
            <response status="502">
              <representation mediaType="application/json" element="gps:errorResponse"/>
              <representation mediaType="application/xml" element="gps:errorResponse"/>
            </response>
            <response status="503">
              <representation mediaType="application/json" element="gps:errorResponse"/>
              <representation mediaType="application/xml" element="gps:errorResponse"/>
            </response>
          </method>
        </resource>
      </resource>
    </resource>
  </resources>
</application>]]></con:content>
      <con:type>http://wadl.dev.java.net/2009/02</con:type>
    </con:part>
    <con:part>
      <con:url>file:\D:\Projects\Telefonica\DirectReCharge\src\trunk\SRs\Interfaces\GPS\gps_types_v1.0.xsd</con:url>
      <con:content>&lt;xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"/></con:content>
      <con:type>http://www.w3.org/2001/XMLSchema</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints>
    <con:endpoint>http://localhost:8080/GPS</con:endpoint>
    <con:endpoint>http://mucsgdp08.sg.de.pri.o2.com:8780/mocks/GPS</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="e385afea-1153-4d90-83b9-3b49a724f0ea">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
