<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="06e21b30-f715-436e-a113-2134e5055512" name="TestSuite-DEV-ARCHIVE" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:description>Exec jobs for archiving and deletion</con:description>
  <con:settings>
    <con:setting id="06e21b30-f715-436e-a113-2134e5055512fileName">TestSuite-DEV-ARCHIVE</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>outCountTask-OSC-Notification</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>outCountTask-CreateNewPain008-Tenant-1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>outCountTask-CreateNewPain008-Tenant-2</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>outCountTask-PPIT-Notification</con:name>
      <con:value/>
    </con:property>
  </con:properties>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="e385afea-1153-4d90-83b9-3b49a724f0ea">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
