<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="1b70e4b7-9072-45dd-a5fe-58afcc9d2482" name="Recharge Service" type="rest_ex" wadlVersion="https://swagger.io/openapiv3/specification" definitionUrl="file:/D:/Projects/Telefonica/DirectReCharge/SRs/Interfaces/MFE/recharge_service_v104.json" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:description>Service providing recharging of O2 customer balance using different payment methods.</con:description>
  <con:settings>
    <con:setting id="0dc3389a-0443-4659-a879-4acc5a0c6638fileName">Recharge-Service</con:setting>
    <con:setting id="1b70e4b7-9072-45dd-a5fe-58afcc9d2482fileName">Recharge-Service</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart="file:/D:/Projects/Telefonica/DirectReCharge/SRs/Interfaces/MFE/recharge_service_v104.json"/>
  <con:endpoints>
    <con:endpoint>${#Project#drc-mfe-URL}</con:endpoint>
    <con:endpoint>http://localhost:18080/drc/ws/recharge/v2</con:endpoint>
    <con:endpoint>http://mucsgdp08.sg.de.pri.o2.com:8180/drc/ws/recharge/v2</con:endpoint>
    <con:endpoint>http://mucsgdp08.sg.de.pri.o2.com:8480/drc/ws/recharge/v2</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="c0283aa8-a2f8-42fb-b94d-307e10c6901f">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
