<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="8266ee90-65fd-4c52-a412-5805e59bdd32" name="TestSuite-Virts-Test" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="8266ee90-65fd-4c52-a412-5805e59bdd32fileName">TestSuite-Virts-Test</con:setting>
  <con:setting id="GeneratableJUnitReport@Style">Multiple Pages</con:setting><con:setting id="GeneratableJUnitReport@Folder">D:\SmartBear\ReadyAPI\CC Projects\DirectReCharge-soapui-project (1)-Telefonica-10Oct\Report-TestSuite-Virts-Test</con:setting></con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="e385afea-1153-4d90-83b9-3b49a724f0ea">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>