<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="TestSuite-DEV-redeemVoucher" id="92ca32d4-48da-478a-939c-3797fe15f1d4" xmlns:con="http://eviware.com/soapui/config">
  <con:description>Tests different positiv and negativ test-cases for different voucher types and EDR-Files.
Reference to specifications are saved in test-case descriptions</con:description>
  <con:settings>
    <con:setting id="FlowLayout">false</con:setting>
    <con:setting id="92ca32d4-48da-478a-939c-3797fe15f1d4fileName">TestSuite-DEV-redeemVoucher</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>orcacle-query-getEDRfromVoucherCode</con:name>
      <con:value>Select r.EDR From EDR_RECORDS r Inner Join VOUCHER_TRANSACTION t On t.TOPUP_ID = r.TOPUP_ID Where t.VOUCHER_CODE=:voucherCode</con:value>
    </con:property>
    <con:property>
      <con:name>PaymentType-Voucher</con:name>
      <con:value>70</con:value>
    </con:property>
    <con:property>
      <con:name>EDR-VoMS-Provider</con:name>
      <con:value>o2</con:value>
    </con:property>
    <con:property>
      <con:name>voucher-Pack-OK</con:name>
      <con:value>8000000${#Project#Random8}0</con:value>
    </con:property>
    <con:property>
      <con:name>voucher-Pack-OK-12Digits</con:name>
      <con:value>8000000${#Project#Random5}</con:value>
    </con:property>
    <con:property>
      <con:name>voucher-Money-OK</con:name>
      <con:value>9000000${#Project#Random8}0</con:value>
    </con:property>
    <con:property>
      <con:name>voucher-Money-OK-Voucher12Digits</con:name>
      <con:value>9000000${#Project#Random5}</con:value>
    </con:property>
    <con:property>
      <con:name>Partner-MCE-All</con:name>
      <con:value>U-941</con:value>
    </con:property>
    <con:property>
      <con:name>Partner-PPIT</con:name>
      <con:value>U-461</con:value>
    </con:property>
    <con:property>
      <con:name>Partner-Spain</con:name>
      <con:value>U-323</con:value>
    </con:property>
    <con:property>
      <con:name>MSISDN-Suffix-PPIT-SP913</con:name>
      <con:value>32191386</con:value>
    </con:property>
    <con:property>
      <con:name>MSISDN-Suffix-SPAIN-SP901</con:name>
      <con:value>42190101</con:value>
    </con:property>
    <con:property>
      <con:name>voucherSuffix-VoMS-prepare-Error=1-Unknown</con:name>
      <con:value>00100${#Project#Random10}</con:value>
    </con:property>
    <con:property>
      <con:name>voucherSuffix-VoMS-prepare-Error=2-Denied</con:name>
      <con:value>00200${#Project#Random10}</con:value>
    </con:property>
    <con:property>
      <con:name>voucherSuffix-VoMS-prepare-Error=3-InvalidApp</con:name>
      <con:value>00300${#Project#Random10}</con:value>
    </con:property>
    <con:property>
      <con:name>voucherSuffix-VoMS-prepare-Error=4-Used</con:name>
      <con:value>00400${#Project#Random10}</con:value>
    </con:property>
    <con:property>
      <con:name>voucherSuffix-VoMS-prepare-Error=5-Expired</con:name>
      <con:value>00500${#Project#Random10}</con:value>
    </con:property>
    <con:property>
      <con:name>voucherSuffix-VoMS-prepare-Error=6-OtherError</con:name>
      <con:value>00600${#Project#Random10}</con:value>
    </con:property>
    <con:property>
      <con:name>voucherSuffix-VoMS-prepare-Error=7-FraudDetected</con:name>
      <con:value>00700${#Project#Random10}</con:value>
    </con:property>
    <con:property>
      <con:name>voucherSuffix-VoMS-prepare-Error=11-NotValid</con:name>
      <con:value>01100${#Project#Random10}</con:value>
    </con:property>
    <con:property>
      <con:name>voucherSuffix-VoMS-prepare-Error=12-Blocked</con:name>
      <con:value>01200${#Project#Random10}</con:value>
    </con:property>
    <con:property>
      <con:name>voucherSuffix-VoMS-prepare-Error=13-NotActive</con:name>
      <con:value>01300${#Project#Random10}</con:value>
    </con:property>
    <con:property>
      <con:name>voucherSuffix-VoMS-prepare-OpError</con:name>
      <con:value>30100${#Project#Random10}</con:value>
    </con:property>
    <con:property>
      <con:name>voucherSuffix-VoMS-prepare-NotAvailable</con:name>
      <con:value>20100${#Project#Random10}</con:value>
    </con:property>
    <con:property>
      <con:name>voucherSuffix-VoMS-commit-OpError</con:name>
      <con:value>000301${#Project#Random8}0</con:value>
    </con:property>
    <con:property>
      <con:name>voucherSuffix-VoMS-cancel-OpError</con:name>
      <con:value>000301301${#Project#Random5}0</con:value>
    </con:property>
    <con:property>
      <con:name>voucher-Invalid</con:name>
      <con:value>9000000000</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="e385afea-1153-4d90-83b9-3b49a724f0ea">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
