<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="5fdc8385-ad9a-4117-b506-d96499772444" name="TestSuite-DEV-Views-Bug-DRC-3827" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:description>https://www.sg.de.o2.com/jira/browse/DRC-3827</con:description>
  <con:settings>
    <con:setting id="bf291b33-1661-4766-8e15-c90c0f016b7efileName">TestSuite-DEV-Views</con:setting>
    <con:setting id="5fdc8385-ad9a-4117-b506-d96499772444fileName">TestSuite-DEV-Views-Bug-DRC-3827</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="e385afea-1153-4d90-83b9-3b49a724f0ea">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
