<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="9a31ff25-9471-4fc4-9756-9abddb52656e" name="Test Suite 1 2" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="88cba115-b95d-437b-9c5b-382b99b65c5bfileName">Test-Suite-1</con:setting>
  <con:setting id="9a31ff25-9471-4fc4-9756-9abddb52656efileName">Test-Suite-1-2</con:setting></con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>