<?xml version="1.0" encoding="UTF-8"?>
<con:mockService id="f5b02797-bbe2-432e-8b44-9f07d948d7b1" port="8080" path="/OCS10/BalanceManagementService" host="localhost" name="Virt-OCS10-BalanceManagement" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="com.eviware.soapui.impl.wsdl.mock.WsdlMockService@require-soap-action">false</con:setting>
    <con:setting id="e489e863-907d-4374-9d3c-66058003ab50fileName">Virt-OCS10-BalanceManagement</con:setting>
    <con:setting id="f5b02797-bbe2-432e-8b44-9f07d948d7b1fileName">Virt-OCS10-BalanceManagement</con:setting>
  </con:settings>
  <con:startScript/>
  <con:properties>
    <con:property>
      <con:name>Doc</con:name>
      <con:value><![CDATA[
Documentation for using OCS 10 mock service.

Mock service despatch soapFault service excepction response, if MSISDN in request is:
	- null, empty or not numeric
	- MSISDN < 1 or MSISDN > 15 signs 
	
Mock service despatch default response with values from request and default values from mock service like current response below.
Default balance configured by mock is - ${#MockService#DEFAULT-balance}

To order custom response with amount from MSISDN in request:

- MSISDN prefix must be:
	- in queryBalance-request start with:  ${#Project#MOCK-Prefix-OCS10-queryBalance-CustomBalance}
	
- Position 6:
	1 - for positiv amount on balance
	2 - for negativ amount on balance

- Positions from 7 is amount in cent
	Ex. MSISDN = 4911910000001 returns   <v1:balance exponent="-2" currencyCode="EUR">1</v1:balance>
	Ex. MSISDN = 4911920001001 returns   <v1:balance exponent="-2" currencyCode="EUR">1001</v1:balance>


Example soap fault response for first MSISDN above: 
  <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:add="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:v1="http://www.telefonica.com/OCS/To2DE/OCS_types/v1_1">
   <soapenv:Header>
      <add:MessageID>http://www.sample.org/turbine/circum</add:MessageID>
   </soapenv:Header>
   <soapenv:Body>
      <v1:queryBalancesResponse>
         <!--Zero or more repetitions:-->
         <v1:walletInfoList>
            <!--type: WalletIdType-->
            <v1:walletId>2</v1:walletId>
            <v1:balance exponent="-2" currencyCode="EUR">1</v1:balance>
            <!--type: dateTime-->
            <v1:expirationDate>2020-07-24T09:07:18+02:00</v1:expirationDate>
            <!--type: WalletStatusType - enumeration: [AC,CA,SU,S0,PA,ca]-->
            <v1:status>AC</v1:status>
         </v1:walletInfoList>
      </v1:queryBalancesResponse>
   </soapenv:Body>
</soapenv:Envelope>

 End of documentation  
]]></con:value>
    </con:property>
    <con:property>
      <con:name>faultString</con:name>
      <con:value>Mock: OCS10-BalanceManagement-Service.  Soap fault exception</con:value>
    </con:property>
    <con:property>
      <con:name>DEFAULT-ErrorType</con:name>
      <con:value>PERMANENT</con:value>
    </con:property>
    <con:property>
      <con:name>DEFAULT-ErrorCode</con:name>
      <con:value>99999</con:value>
    </con:property>
    <con:property>
      <con:name>DEFAULT-ErrorText</con:name>
      <con:value>Unclassified error</con:value>
    </con:property>
    <con:property>
      <con:name>DEFAULT-currencyCode</con:name>
      <con:value>EUR</con:value>
    </con:property>
    <con:property>
      <con:name>DEFAULT-exponent</con:name>
      <con:value>-2</con:value>
    </con:property>
    <con:property>
      <con:name>DEFAULT-opCost</con:name>
      <con:value>-100</con:value>
    </con:property>
    <con:property>
      <con:name>DEFAULT-tariffPlanId</con:name>
      <con:value>50</con:value>
    </con:property>
    <con:property>
      <con:name>DEFAULT-balance</con:name>
      <con:value>1000</con:value>
    </con:property>
    <con:property>
      <con:name>DEFAULT-serviceProviderId</con:name>
      <con:value>10</con:value>
    </con:property>
    <con:property>
      <con:name>DEFAULT-walletId</con:name>
      <con:value>2</con:value>
    </con:property>
    <con:property>
      <con:name>Exception-ErrorCode</con:name>
      <con:value>5</con:value>
    </con:property>
    <con:property>
      <con:name>Exception-ErrorText</con:name>
      <con:value>Incoherent parameters:-Media type in applicationId and reference from request is not identical!</con:value>
    </con:property>
    <con:property>
      <con:name>Exception-ErrorType</con:name>
      <con:value>PERMANENT</con:value>
    </con:property>
    <con:property>
      <con:name>queryBalance-balance</con:name>
      <con:value>1000</con:value>
    </con:property>
    <con:property>
      <con:name>rechargeAccount-applicationId</con:name>
      <con:value>D60</con:value>
    </con:property>
    <con:property>
      <con:name>rechargeAccount-reference</con:name>
      <con:value>603456789</con:value>
    </con:property>
    <con:property>
      <con:name>rechargeAccount-e164Number</con:name>
      <con:value>49111600000001</con:value>
    </con:property>
    <con:property>
      <con:name>rechargeAccount-balance</con:name>
      <con:value>1500</con:value>
    </con:property>
    <con:property>
      <con:name>rechargeAccount-walletId</con:name>
      <con:value>2</con:value>
    </con:property>
    <con:property>
      <con:name>rechargeAccount-balanceChange</con:name>
      <con:value>500</con:value>
    </con:property>
    <con:property>
      <con:name>deductBalance-applicationId</con:name>
      <con:value>D60</con:value>
    </con:property>
    <con:property>
      <con:name>deductBalance-reference</con:name>
      <con:value>603456789</con:value>
    </con:property>
    <con:property>
      <con:name>deductBalance-e164Number</con:name>
      <con:value>49112490538839</con:value>
    </con:property>
    <con:property>
      <con:name>deductBalance-balance</con:name>
      <con:value>500</con:value>
    </con:property>
    <con:property>
      <con:name>deductBalance-walletId</con:name>
      <con:value xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">2</con:value>
    </con:property>
    <con:property>
      <con:name>deductBalance-balanceChange</con:name>
      <con:value>500</con:value>
    </con:property>
    <con:property>
      <con:name>incrementBalance-applicationId</con:name>
      <con:value>D60</con:value>
    </con:property>
    <con:property>
      <con:name>incrementBalance-reference</con:name>
      <con:value>603456789</con:value>
    </con:property>
    <con:property>
      <con:name>incrementBalance-e164Number</con:name>
      <con:value>49111600000001</con:value>
    </con:property>
    <con:property>
      <con:name>incrementBalance-balance</con:name>
      <con:value>1500</con:value>
    </con:property>
    <con:property>
      <con:name>incrementBalance-balanceChange</con:name>
      <con:value>500</con:value>
    </con:property>
    <con:property>
      <con:name>Resultcode</con:name>
      <con:value>5</con:value>
    </con:property>
    <con:property>
      <con:name>ResultDesc</con:name>
      <con:value>Incoherent parameters:-reference in request is emtpy, not 9 till 64 signs long or does not contain media type!</con:value>
    </con:property>
    <con:property>
      <con:name>Exeption-OpInfo</con:name>
      <con:value>49111577019622</con:value>
    </con:property>
  </con:properties>
  <con:afterRequestScript/>
  <con:constraints>
    <con:congestion>0</con:congestion>
    <con:inputBandwidth>-1</con:inputBandwidth>
    <con:outputBandwidth>-1</con:outputBandwidth>
    <con:maxThreadPoolCapacity>20</con:maxThreadPoolCapacity>
    <con:coreThreadPoolCapacity>5</con:coreThreadPoolCapacity>
    <con:virtError>
      <con:start>0</con:start>
      <con:endless>true</con:endless>
    </con:virtError>
  </con:constraints>
  <con:dataSources/>
  <con:headerValidator type="NONE"/>
</con:mockService>