<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="ffac783b-4d44-42c6-afc4-14e5c955571c" name="TestSuite-DEV-Base" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:description>This suite contains usable test-cases for calling from anouther test-cases</con:description>
  <con:settings>
    <con:setting id="ffac783b-4d44-42c6-afc4-14e5c955571cfileName">TestSuite-DEV-Base</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="e385afea-1153-4d90-83b9-3b49a724f0ea">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
