<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="bc05aac7-2d93-479a-9c5e-18c6762bf557" name="DianaOltean" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="bc05aac7-2d93-479a-9c5e-18c6762bf557fileName">DianaOltean</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
