<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:WsdlInterface" id="4ece7564-0497-4dc1-904b-dcb889d0f216" wsaVersion="NONE" name="ReportingAdminPortImplServiceSoapBinding" type="wsdl" bindingName="{http://admin.service.reporting.directrecharge.o2.com/}ReportingAdminPortImplServiceSoapBinding" soapVersion="1_1" anonymous="optional" definition="http://mucsgdp08.sg.de.pri.o2.com:10500/reporting/ws/admin?wsdl" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="4ece7564-0497-4dc1-904b-dcb889d0f216fileName">ReportingAdminPortImplServiceSoapBinding</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart="http://mucsgdp08.sg.de.pri.o2.com:10500/reporting/ws/admin?wsdl">
    <con:part>
      <con:url>http://mucsgdp08.sg.de.pri.o2.com:10500/reporting/ws/admin?wsdl</con:url>
      <con:content><![CDATA[<wsdl:definitions name="ReportingAdminPortImplService" targetNamespace="http://admin.service.reporting.directrecharge.o2.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://admin.service.reporting.directrecharge.o2.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns7="http://schemas.xmlsoap.org/soap/http" xmlns:ns1="http://directrecharge.o2.com/ws/reportingadmin/">
  <wsdl:import location="http://mucsgdp08.sg.de.pri.o2.com:10500/reporting/ws/admin?wsdl=ReportingAdminV1PortType.wsdl" namespace="http://directrecharge.o2.com/ws/reportingadmin/"></wsdl:import>
  <wsdl:binding name="ReportingAdminPortImplServiceSoapBinding" type="ns1:ReportingAdminV1PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="triggerJobManager">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="triggerJobManager">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="triggerJobManagerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSettings">
      <soap:operation soapAction="getSettings" style="document"/>
      <wsdl:input name="getSettings">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSettingsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="submitReportSqlQuery">
      <soap:operation soapAction="submitReportSqlQuery" style="document"/>
      <wsdl:input name="submitReportSqlQuery">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="submitReportSqlQueryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="selectTopupsToLoad">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="selectTopupsToLoad">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="selectTopupsToLoadResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setSettings">
      <soap:operation soapAction="setSettings" style="document"/>
      <wsdl:input name="setSettings">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setSettingsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createSapTopupPostings">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createSapTopupPostings">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createSapTopupPostingsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="invalidateAll">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="invalidateAll">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="invalidateAllResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="healthCheck">
      <soap:operation soapAction="healthCheck" style="document"/>
      <wsdl:input name="healthCheck">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="healthCheckResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createReportDataFrame">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createReportDataFrame">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createReportDataFrameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="invalidateByLongKeys">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="invalidateByLongKeys">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="invalidateByLongKeysResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getReportSqlQueries">
      <soap:operation soapAction="getReportSqlQueries" style="document"/>
      <wsdl:input name="getReportSqlQueries">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getReportSqlQueriesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSettingChildNodes">
      <soap:operation soapAction="getSettingChildNodes" style="document"/>
      <wsdl:input name="getSettingChildNodes">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSettingChildNodesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createSapPaymentPostings">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createSapPaymentPostings">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createSapPaymentPostingsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReportingAdminPortImplService">
    <wsdl:port binding="tns:ReportingAdminPortImplServiceSoapBinding" name="ReportingAdminPortImplPort">
      <soap:address location="http://mucsgdp08.sg.de.pri.o2.com:10500/reporting/ws/admin"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>]]></con:content>
      <con:type>http://schemas.xmlsoap.org/wsdl/</con:type>
    </con:part>
    <con:part>
      <con:url>http://mucsgdp08.sg.de.pri.o2.com:10500/reporting/ws/admin?wsdl=ReportingAdminV1PortType.wsdl</con:url>
      <con:content><![CDATA[<wsdl:definitions name="ReportingAdminV1PortType" targetNamespace="http://directrecharge.o2.com/ws/reportingadmin/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns6="http://directrecharge.o2.com/ws/common/invalidation/v1/" xmlns:ns5="http://directrecharge.o2.com/ws/reportingadmin/v1/" xmlns:ns4="http://directrecharge.o2.com/ws/common/settings/v1/" xmlns:ns3="http://directrecharge.o2.com/ws/commonservice/v1/" xmlns:ns2="http://directrecharge.o2.com/ws/common/job/v1/" xmlns:ns1="http://directrecharge.o2.com/ws/reportingadmin/">
  <wsdl:types>
    <xs:schema targetNamespace="http://directrecharge.o2.com/ws/reportingadmin/v1/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://directrecharge.o2.com/ws/reportingadmin/v1/" xmlns:ns1="http://directrecharge.o2.com/ws/generic/v1/">
      <xs:import namespace="http://directrecharge.o2.com/ws/generic/v1/"/>
      <xs:element name="createReportDataFrame">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="tenantIdList" type="tns:tenantIdList"/>
            <xs:element name="reportTypeList" type="tns:reportTypeList"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="createReportDataFrameResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="reportDataFrameList" type="tns:reportDataFrameList"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="createSapPaymentPostings">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="paymentChannel" type="xs:string"/>
            <xs:element name="day" type="xs:date"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="createSapPaymentPostingsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" nillable="true" type="tns:sapPostingType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="createSapTopupPostings">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="paymentChannel" type="xs:string"/>
            <xs:element name="day" type="xs:date"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="createSapTopupPostingsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" nillable="true" type="tns:sapPostingType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getReportSqlQueries" type="tns:getReportSqlQueriesType"/>
      <xs:element name="getReportSqlQueriesResponse" type="tns:getReportSqlQueriesResponseType"/>
      <xs:element name="selectTopupsToLoad">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="loadType" type="xs:string"/>
            <xs:element name="startDate" type="xs:dateTime"/>
            <xs:element name="endDate" type="xs:dateTime"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="selectTopupsToLoadResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="id" type="xs:long"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="submitReportSqlQuery" type="tns:submitReportSqlQueryType"/>
      <xs:element name="submitReportSqlQueryResponse" type="tns:submitReportSqlQueryResponseType"/>
      <xs:complexType name="submitReportSqlQueryType">
        <xs:sequence>
          <xs:element name="formId" type="xs:string"/>
          <xs:element name="formInputData" type="ns1:valueListType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="submitReportSqlQueryResponseType">
        <xs:sequence>
          <xs:element name="resultData" type="ns1:tableDataSetType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sapPostingType">
        <xs:sequence>
          <xs:element name="id" type="xs:long"/>
          <xs:element name="batchId" type="xs:long"/>
          <xs:element name="isPayment" type="xs:boolean"/>
          <xs:element name="isDebit" type="xs:boolean"/>
          <xs:element name="sum" type="xs:long"/>
          <xs:element name="tenantId" type="xs:int"/>
          <xs:element name="brandId" type="xs:int"/>
          <xs:element minOccurs="0" name="partner" type="xs:string"/>
          <xs:element name="paymentChannel" type="xs:string"/>
          <xs:element name="postingType" type="xs:string"/>
          <xs:element name="postingDate" type="xs:date"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tenantIdList">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="tenantId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="reportTypeList">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="value" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="reportDataFrameList">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="reportDataFrame" type="tns:reportDataFrame"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="reportDataFrame">
        <xs:sequence>
          <xs:element name="startDate" type="xs:dateTime"/>
          <xs:element name="endDate" type="xs:dateTime"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getReportSqlQueriesType">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="getReportSqlQueriesResponseType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ns1:formMetaData"/>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="reportType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="MONTHLY_SUM_OF_DEBTS"/>
          <xs:enumeration value="MONTHLY_LIST_OF_DEBTS"/>
          <xs:enumeration value="MONTHLY_SUM_OF_RECONCILED_PAYMENTS"/>
          <xs:enumeration value="MONTHLY_LIST_OF_RECONCILED_PAYMENTS"/>
          <xs:enumeration value="MONTHLY_SUM_OF_DEBTS_AGAINST_ACQUIRER"/>
          <xs:enumeration value="MONTHLY_AGGREGATE"/>
          <xs:enumeration value="MONTHLY_TOPUPS_AGGREGATE"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
    <xs:schema targetNamespace="http://directrecharge.o2.com/ws/generic/v1/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://directrecharge.o2.com/ws/generic/v1/">
      <xs:element name="formInputData" type="tns:valueListType"/>
      <xs:element name="formMetaData" type="tns:formMetaDataType"/>
      <xs:complexType name="valueListType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="value" nillable="true" type="tns:valueType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="valueType">
        <xs:sequence>
          <xs:element name="id" type="xs:string"/>
          <xs:element minOccurs="0" name="stringValue" type="xs:string"/>
          <xs:element minOccurs="0" name="intValue" type="xs:int"/>
          <xs:element minOccurs="0" name="longValue" type="xs:long"/>
          <xs:element minOccurs="0" name="booleanValue" type="xs:boolean"/>
          <xs:element minOccurs="0" name="dateValue" type="xs:date"/>
          <xs:element minOccurs="0" name="dateTimeValue" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="amountValue" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tableDataSetType">
        <xs:sequence>
          <xs:element name="tableMetaData" type="tns:tableMetaDataType"/>
          <xs:element name="tableData" type="tns:tableDataType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tableMetaDataType">
        <xs:sequence>
          <xs:element name="id" type="xs:string"/>
          <xs:element name="name" type="xs:string"/>
          <xs:element minOccurs="0" name="description" type="xs:string"/>
          <xs:element name="rowMetaData" type="tns:valueMetaDataListType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="valueMetaDataListType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="valueMetaData" nillable="true" type="tns:valueMetaDataType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="valueMetaDataType">
        <xs:sequence>
          <xs:element name="id" type="xs:string"/>
          <xs:element name="name" type="xs:string"/>
          <xs:element minOccurs="0" name="description" type="xs:string"/>
          <xs:element name="dataType" type="xs:string"/>
          <xs:element minOccurs="0" name="visibleLength" type="xs:int"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="valueMapping" nillable="true" type="tns:valueMappingType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="valueMappingType">
        <xs:sequence>
          <xs:element name="id" type="xs:string"/>
          <xs:element name="name" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tableDataType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="row" nillable="true" type="tns:valueListType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="formMetaDataType">
        <xs:sequence>
          <xs:element name="id" type="xs:string"/>
          <xs:element name="name" type="xs:string"/>
          <xs:element minOccurs="0" name="description" type="xs:string"/>
          <xs:element name="inputMetaData" type="tns:valueMetaDataListType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="formResultType">
        <xs:sequence>
          <xs:element name="inputData" type="tns:valueListType"/>
          <xs:element name="resultData" type="tns:tableDataSetType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="dataTypeEnum">
        <xs:restriction base="xs:string">
          <xs:enumeration value="stringType"/>
          <xs:enumeration value="intType"/>
          <xs:enumeration value="longType"/>
          <xs:enumeration value="booleanType"/>
          <xs:enumeration value="dateType"/>
          <xs:enumeration value="dateTimeType"/>
          <xs:enumeration value="amountType"/>
          <xs:enumeration value="amountType2dp"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
    <xs:schema targetNamespace="http://directrecharge.o2.com/ws/commonservice/v1/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://directrecharge.o2.com/ws/commonservice/v1/">
      <xs:element name="fault" type="tns:faultType"/>
      <xs:element name="healthCheck" type="tns:healthCheckType"/>
      <xs:element name="healthCheckResponse" type="tns:healthCheckResponseType"/>
      <xs:complexType name="faultType">
        <xs:sequence>
          <xs:element default="UNSPECIFIED" name="specificFaultType" type="xs:string"/>
          <xs:element minOccurs="0" name="errorMessage" type="xs:string"/>
          <xs:element minOccurs="0" name="errorCode" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="healthCheckType">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="healthCheckResponseType">
        <xs:sequence>
          <xs:element name="healthData" type="tns:healthDataType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="healthDataType">
        <xs:sequence>
          <xs:element name="runningJavaVersion" type="xs:string"/>
          <xs:element minOccurs="0" name="drcMetadata" type="tns:drcMetadata"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="databaseMetadata" nillable="true" type="tns:databaseMetadata"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="adapterMetadata" nillable="true" type="tns:adapterMetadata"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="drcMetadata">
        <xs:sequence>
          <xs:element minOccurs="0" name="version" type="xs:string"/>
          <xs:element minOccurs="0" name="deliveryVersion" type="xs:string"/>
          <xs:element minOccurs="0" name="deliveryRevision" type="xs:string"/>
          <xs:element minOccurs="0" name="buildNumber" type="xs:string"/>
          <xs:element minOccurs="0" name="builtTimestamp" type="xs:string"/>
          <xs:element minOccurs="0" name="builtBy" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="databaseMetadata">
        <xs:sequence>
          <xs:element name="dbName" type="xs:string"/>
          <xs:element name="dbIsAlive" type="xs:boolean"/>
          <xs:element minOccurs="0" name="connectionUrl" type="xs:string"/>
          <xs:element minOccurs="0" name="dbUserName" type="xs:string"/>
          <xs:element minOccurs="0" name="dbProductName" type="xs:string"/>
          <xs:element minOccurs="0" name="dbProductVersion" type="xs:string"/>
          <xs:element minOccurs="0" name="jdbcDriverName" type="xs:string"/>
          <xs:element minOccurs="0" name="jdbcDriverVersion" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="adapterMetadata">
        <xs:sequence>
          <xs:element name="clientName" type="xs:string"/>
          <xs:element name="adapterName" type="xs:string"/>
          <xs:element name="adapterIsAlive" type="xs:boolean"/>
          <xs:element name="adapterParameters" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://directrecharge.o2.com/ws/common/settings/v1/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://directrecharge.o2.com/ws/common/settings/v1/">
      <xs:element name="getSettingChildNodes">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="settingPath" type="tns:settingsPathType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getSettingChildNodesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="parentEntry" type="tns:settingsEntryType"/>
            <xs:element minOccurs="0" name="childNodeList" type="tns:settingsListType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getSettings">
        <xs:complexType>
          <xs:sequence/>
        </xs:complexType>
      </xs:element>
      <xs:element name="getSettingsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="settingsList" type="tns:settingsListType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setSettings">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="settingsList" type="tns:settingsListType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setSettingsResponse">
        <xs:complexType>
          <xs:sequence/>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="settingsListType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="settingsEntry" nillable="true" type="tns:settingsEntryType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="settingsEntryType">
        <xs:sequence>
          <xs:element name="id" type="xs:long"/>
          <xs:element name="name" type="xs:string"/>
          <xs:element name="node" type="xs:string"/>
          <xs:element minOccurs="0" name="value" type="xs:string"/>
          <xs:element name="description" type="xs:string"/>
          <xs:element name="type" type="xs:string"/>
          <xs:element name="mandatory" type="xs:boolean"/>
          <xs:element name="editable" type="xs:boolean"/>
          <xs:element name="parentId" type="xs:long"/>
          <xs:element minOccurs="0" name="restartNeeded" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="settingsPathType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="settingName" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://directrecharge.o2.com/ws/common/job/v1/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://directrecharge.o2.com/ws/common/job/v1/">
      <xs:element name="triggerJobManager" type="tns:triggerJobManagerType"/>
      <xs:element name="triggerJobManagerResponse" type="tns:triggerJobManagerResponseType"/>
      <xs:complexType name="triggerJobManagerType">
        <xs:sequence>
          <xs:element name="jobName" type="xs:string"/>
          <xs:element name="repeat" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="triggerJobManagerResponseType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="taskId" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://directrecharge.o2.com/ws/common/invalidation/v1/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://directrecharge.o2.com/ws/common/invalidation/v1/">
      <xs:element name="invalidateAll">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="group" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="invalidateAllResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="clusterSynchronized" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="invalidateByLongKeys">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="group" type="xs:string"/>
            <xs:element name="longKeyList" type="tns:longKeyListType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="invalidateByLongKeysResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="clusterSynchronized" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="longKeyListType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="longKey" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="invalidationGroupEnum">
        <xs:restriction base="xs:string">
          <xs:enumeration value="SETTINGS"/>
          <xs:enumeration value="CONFIGURATION"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="createSapPaymentPostingsResponse">
    <wsdl:part element="ns5:createSapPaymentPostingsResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="invalidateAllResponse">
    <wsdl:part element="ns6:invalidateAllResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSettings">
    <wsdl:part element="ns4:getSettings" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getReportSqlQueriesResponse">
    <wsdl:part element="ns5:getReportSqlQueriesResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createSapTopupPostingsResponse">
    <wsdl:part element="ns5:createSapTopupPostingsResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="Fault">
    <wsdl:part element="ns3:fault" name="Fault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="submitReportSqlQuery">
    <wsdl:part element="ns5:submitReportSqlQuery" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="setSettingsResponse">
    <wsdl:part element="ns4:setSettingsResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSettingChildNodesResponse">
    <wsdl:part element="ns4:getSettingChildNodesResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="submitReportSqlQueryResponse">
    <wsdl:part element="ns5:submitReportSqlQueryResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createReportDataFrame">
    <wsdl:part element="ns5:createReportDataFrame" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="invalidateByLongKeys">
    <wsdl:part element="ns6:invalidateByLongKeys" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createReportDataFrameResponse">
    <wsdl:part element="ns5:createReportDataFrameResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="healthCheckResponse">
    <wsdl:part element="ns3:healthCheckResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSettingChildNodes">
    <wsdl:part element="ns4:getSettingChildNodes" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createSapPaymentPostings">
    <wsdl:part element="ns5:createSapPaymentPostings" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="triggerJobManager">
    <wsdl:part element="ns2:triggerJobManager" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="selectTopupsToLoad">
    <wsdl:part element="ns5:selectTopupsToLoad" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSettingsResponse">
    <wsdl:part element="ns4:getSettingsResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="setSettings">
    <wsdl:part element="ns4:setSettings" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createSapTopupPostings">
    <wsdl:part element="ns5:createSapTopupPostings" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="invalidateByLongKeysResponse">
    <wsdl:part element="ns6:invalidateByLongKeysResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="invalidateAll">
    <wsdl:part element="ns6:invalidateAll" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="healthCheck">
    <wsdl:part element="ns3:healthCheck" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getReportSqlQueries">
    <wsdl:part element="ns5:getReportSqlQueries" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="triggerJobManagerResponse">
    <wsdl:part element="ns2:triggerJobManagerResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="selectTopupsToLoadResponse">
    <wsdl:part element="ns5:selectTopupsToLoadResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ReportingAdminV1PortType">
    <wsdl:operation name="triggerJobManager">
      <wsdl:input message="ns1:triggerJobManager" name="triggerJobManager"></wsdl:input>
      <wsdl:output message="ns1:triggerJobManagerResponse" name="triggerJobManagerResponse"></wsdl:output>
      <wsdl:fault message="ns1:Fault" name="Fault"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSettings">
      <wsdl:input message="ns1:getSettings" name="getSettings"></wsdl:input>
      <wsdl:output message="ns1:getSettingsResponse" name="getSettingsResponse"></wsdl:output>
      <wsdl:fault message="ns1:Fault" name="Fault"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="submitReportSqlQuery">
      <wsdl:input message="ns1:submitReportSqlQuery" name="submitReportSqlQuery"></wsdl:input>
      <wsdl:output message="ns1:submitReportSqlQueryResponse" name="submitReportSqlQueryResponse"></wsdl:output>
      <wsdl:fault message="ns1:Fault" name="Fault"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="selectTopupsToLoad">
      <wsdl:input message="ns1:selectTopupsToLoad" name="selectTopupsToLoad"></wsdl:input>
      <wsdl:output message="ns1:selectTopupsToLoadResponse" name="selectTopupsToLoadResponse"></wsdl:output>
      <wsdl:fault message="ns1:Fault" name="Fault"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setSettings">
      <wsdl:input message="ns1:setSettings" name="setSettings"></wsdl:input>
      <wsdl:output message="ns1:setSettingsResponse" name="setSettingsResponse"></wsdl:output>
      <wsdl:fault message="ns1:Fault" name="Fault"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createSapTopupPostings">
      <wsdl:input message="ns1:createSapTopupPostings" name="createSapTopupPostings"></wsdl:input>
      <wsdl:output message="ns1:createSapTopupPostingsResponse" name="createSapTopupPostingsResponse"></wsdl:output>
      <wsdl:fault message="ns1:Fault" name="Fault"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="invalidateAll">
      <wsdl:input message="ns1:invalidateAll" name="invalidateAll"></wsdl:input>
      <wsdl:output message="ns1:invalidateAllResponse" name="invalidateAllResponse"></wsdl:output>
      <wsdl:fault message="ns1:Fault" name="Fault"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="healthCheck">
      <wsdl:input message="ns1:healthCheck" name="healthCheck"></wsdl:input>
      <wsdl:output message="ns1:healthCheckResponse" name="healthCheckResponse"></wsdl:output>
      <wsdl:fault message="ns1:Fault" name="Fault"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createReportDataFrame">
      <wsdl:input message="ns1:createReportDataFrame" name="createReportDataFrame"></wsdl:input>
      <wsdl:output message="ns1:createReportDataFrameResponse" name="createReportDataFrameResponse"></wsdl:output>
      <wsdl:fault message="ns1:Fault" name="Fault"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="invalidateByLongKeys">
      <wsdl:input message="ns1:invalidateByLongKeys" name="invalidateByLongKeys"></wsdl:input>
      <wsdl:output message="ns1:invalidateByLongKeysResponse" name="invalidateByLongKeysResponse"></wsdl:output>
      <wsdl:fault message="ns1:Fault" name="Fault"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getReportSqlQueries">
      <wsdl:input message="ns1:getReportSqlQueries" name="getReportSqlQueries"></wsdl:input>
      <wsdl:output message="ns1:getReportSqlQueriesResponse" name="getReportSqlQueriesResponse"></wsdl:output>
      <wsdl:fault message="ns1:Fault" name="Fault"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSettingChildNodes">
      <wsdl:input message="ns1:getSettingChildNodes" name="getSettingChildNodes"></wsdl:input>
      <wsdl:output message="ns1:getSettingChildNodesResponse" name="getSettingChildNodesResponse"></wsdl:output>
      <wsdl:fault message="ns1:Fault" name="Fault"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createSapPaymentPostings">
      <wsdl:input message="ns1:createSapPaymentPostings" name="createSapPaymentPostings"></wsdl:input>
      <wsdl:output message="ns1:createSapPaymentPostingsResponse" name="createSapPaymentPostingsResponse"></wsdl:output>
      <wsdl:fault message="ns1:Fault" name="Fault"></wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>]]></con:content>
      <con:type>http://schemas.xmlsoap.org/wsdl/</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints>
    <con:endpoint>${#Project#drc-ReportService-URL}</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="e385afea-1153-4d90-83b9-3b49a724f0ea">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
