<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="fa098340-9c1b-40f5-97c5-81785a47708b" name="TestSuite-DEV-DATQIT" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:description>Contains usable test cases, which are called in other test cases. Specification to be found in user story:
https://www.sg.de.o2.com/jira/browse/DRC-2685
https://www.sg.de.o2.com/jira/browse/DRC-2686
https://www.sg.de.o2.com/jira/browse/DRC-2692</con:description>
  <con:settings>
    <con:setting id="fa098340-9c1b-40f5-97c5-81785a47708bfileName">TestSuite-DEV-DATQIT</con:setting>
    <con:setting id="GeneratableJUnitReport@Folder">D:\Projects\Telefonica\DirectReCharge\drc-qa\soapUI-Pro\DRC_Release_20-1\TestReports</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>SourceDir</con:name>
      <con:value>${drc_source_dir}/DAT</con:value>
    </con:property>
    <con:property>
      <con:name>TargetDir</con:name>
      <con:value>${drc_target_dir}/DATQIT/</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="e385afea-1153-4d90-83b9-3b49a724f0ea">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
