<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:WsdlInterface" id="c86c2996-1ab4-4198-a427-2f774bae7e44" wsaVersion="NONE" name="Iso8583TopupServiceV1SoapBinding" type="wsdl" bindingName="{http://directrecharge.o2.com/ws/iso8583topupservice/}Iso8583TopupServiceV1SoapBinding" soapVersion="1_1" anonymous="optional" definition="${#Project#drc-ATMIso8583TopupService-URL}?wsdl" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="c86c2996-1ab4-4198-a427-2f774bae7e44fileName">Iso8583TopupServiceV1SoapBinding</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart="http://mucsgdp08.sg.de.pri.o2.com:8180/drc/ws/PlainIso8583TopupService_v1?wsdl">
    <con:part>
      <con:url>http://mucsgdp08.sg.de.pri.o2.com:8180/drc/ws/PlainIso8583TopupService_v1?wsdl</con:url>
      <con:content><![CDATA[<wsdl:definitions name="Iso8583TopupService_v1" targetNamespace="http://directrecharge.o2.com/ws/iso8583topupservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://directrecharge.o2.com/ws/iso8583topupservice/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:iso8583type="http://directrecharge.o2.com/iso8583topupservice/v1/">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://directrecharge.o2.com/iso8583topupservice/v1/" schemaLocation="http://mucsgdp08.sg.de.pri.o2.com:8180/drc/ws/PlainIso8583TopupService_v1?xsd=v1/Iso8583TopupService_v1.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="cancelResponse">
    <wsdl:part element="iso8583type:cancelResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancel">
    <wsdl:part element="iso8583type:cancel" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRelatedTopup">
    <wsdl:part element="iso8583type:getRelatedTopup" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="transactionInProgressException">
    <wsdl:part element="iso8583type:transactionInProgressFault" name="info"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="topupResponse">
    <wsdl:part element="iso8583type:topupResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="healthCheck">
    <wsdl:part element="iso8583type:healthCheck" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="topup">
    <wsdl:part element="iso8583type:topup" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="healthCheckResponse">
    <wsdl:part element="iso8583type:healthCheckResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="transactionException">
    <wsdl:part element="iso8583type:transactionFault" name="info"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRelatedTopupResponse">
    <wsdl:part element="iso8583type:getRelatedTopupResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Iso8583TopupServiceV1PortType">
    <wsdl:operation name="cancel">
      <wsdl:documentation>The operation for canceling a successful topup.</wsdl:documentation>
      <wsdl:input message="tns:cancel" name="cancel"></wsdl:input>
      <wsdl:output message="tns:cancelResponse" name="cancelResponse"></wsdl:output>
      <wsdl:fault message="tns:transactionInProgressException" name="transactionInProgressException"></wsdl:fault>
      <wsdl:fault message="tns:transactionException" name="transactionException">
        <wsdl:documentation><![CDATA[<table><tbody>
                    <tr bgcolor="black">
                    <th style="color:white;">Service-Error</th>
                    <th style="color:white;">ActionCode</th>
                    <th style="color:white;">ActionCodeId</th>
                    </tr>
                    <tr><td>WRONG_DATA</td><td>2a</td><td>GENERAL_ERROR</td></tr>
                    <tr><td>RECHARGE_NOT_POSSIBLE</td><td>2a</td><td>GENERAL_ERROR</td></tr>
                    <tr><td>ALREADY_CANCELLED</td><td>2e</td><td>GENERAL_ERROR</td></tr>
                    <tr><td>UNKNOWN_SUBSCRIBER</td><td>1a</td><td>UNKNOWN_SUBSCRIBER</td></tr>
                    </tbody></table>]]]]>><![CDATA[</wsdl:documentation>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="topup">
      <wsdl:documentation>The operation for topup a client account.</wsdl:documentation>
      <wsdl:input message="tns:topup" name="topup"></wsdl:input>
      <wsdl:output message="tns:topupResponse" name="topupResponse"></wsdl:output>
      <wsdl:fault message="tns:transactionInProgressException" name="transactionInProgressException"></wsdl:fault>
      <wsdl:fault message="tns:transactionException" name="transactionException">
        <wsdl:documentation><![CDATA[<table><tbody>
                    <tr bgcolor="black">
                    <th style="color:white;">Service-Error</th>
                    <th style="color:white;">ActionCode</th>
                    <th style="color:white;">ActionCodeId</th>
                    </tr>
                    <tr><td>WRONG_DATA</td><td>2a</td><td>GENERAL_ERROR</td></tr>
                    <tr><td>RECHARGE_NOT_POSSIBLE</td><td>2a</td><td>GENERAL_ERROR</td></tr>
                    <tr><td>IN_PROGRESS</td><td>null</td><td>null</td></tr>
                    <tr><td>UNKNOWN_SUBSCRIBER</td><td>1a</td><td>UNKNOWN_SUBSCRIBER</td></tr>
                    </tbody></table>]]]]>><![CDATA[</wsdl:documentation>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="healthCheck">
      <wsdl:documentation>The operation for health check.</wsdl:documentation>
      <wsdl:input message="tns:healthCheck" name="healthCheck"></wsdl:input>
      <wsdl:output message="tns:healthCheckResponse" name="healthCheckResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRelatedTopup">
      <wsdl:documentation>The operation for request a topup.</wsdl:documentation>
      <wsdl:input message="tns:getRelatedTopup" name="getRelatedTopup"></wsdl:input>
      <wsdl:output message="tns:getRelatedTopupResponse" name="getRelatedTopupResponse"></wsdl:output>
      <wsdl:fault message="tns:transactionInProgressException" name="transactionInProgressException"></wsdl:fault>
      <wsdl:fault message="tns:transactionException" name="transactionException">
        <wsdl:documentation><![CDATA[<table><tbody>
                    <tr bgcolor="black">
                    <th style="color:white;">Service-Error</th>
                    <th style="color:white;">ActionCode</th>
                    <th style="color:white;">ActionCodeId</th>
                    </tr>
                    <tr><td>WRONG_DATA</td><td>2a</td><td>GENERAL_ERROR</td></tr>
                    <tr><td>UNKNOWN_TOPUP</td><td>3c</td><td>UNKNOWN_TOPUP</td></tr>
                    <tr><td>IN_PROGRESS</td><td>null</td><td>null</td></tr>
                    </tbody></table>]]]]>><![CDATA[</wsdl:documentation>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Iso8583TopupServiceV1SoapBinding" type="tns:Iso8583TopupServiceV1PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="cancel">
      <soap:operation soapAction="cancel" style="document"/>
      <wsdl:input name="cancel">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cancelResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="transactionInProgressException">
        <soap:fault name="transactionInProgressException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="transactionException">
        <soap:fault name="transactionException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="topup">
      <soap:operation soapAction="topup" style="document"/>
      <wsdl:input name="topup">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="topupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="transactionInProgressException">
        <soap:fault name="transactionInProgressException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="transactionException">
        <soap:fault name="transactionException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="healthCheck">
      <soap:operation soapAction="healthCheck" style="document"/>
      <wsdl:input name="healthCheck">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="healthCheckResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRelatedTopup">
      <soap:operation soapAction="getRelatedTopup" style="document"/>
      <wsdl:input name="getRelatedTopup">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRelatedTopupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="transactionInProgressException">
        <soap:fault name="transactionInProgressException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="transactionException">
        <soap:fault name="transactionException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Iso8583TopupServiceV1Service">
    <wsdl:port binding="tns:Iso8583TopupServiceV1SoapBinding" name="Iso8583TopupServiceV1Port">
      <soap:address location="http://mucsgdp08.sg.de.pri.o2.com:8180/drc/ws/PlainIso8583TopupService_v1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>]]></con:content>
      <con:type>http://schemas.xmlsoap.org/wsdl/</con:type>
    </con:part>
    <con:part>
      <con:url>http://mucsgdp08.sg.de.pri.o2.com:8180/drc/ws/PlainIso8583TopupService_v1?xsd=v1/Iso8583TopupService_v1.xsd</con:url>
      <con:content><![CDATA[<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://directrecharge.o2.com/iso8583topupservice/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:iso="http://directrecharge.o2.com/ws/iso8583/v1/" xmlns:base="http://directrecharge.o2.com/ws/base/v1/" xmlns="http://directrecharge.o2.com/iso8583topupservice/v1/">
  <xsd:import namespace="http://directrecharge.o2.com/ws/base/v1/" schemaLocation="http://mucsgdp08.sg.de.pri.o2.com:8180/drc/ws/PlainIso8583TopupService_v1?xsd=../common/Base_v1.xsd"/>
  <xsd:import namespace="http://directrecharge.o2.com/ws/iso8583/v1/" schemaLocation="http://mucsgdp08.sg.de.pri.o2.com:8180/drc/ws/PlainIso8583TopupService_v1?xsd=../common/Iso8583_v1.xsd"/>
  <xsd:simpleType name="isoGwServerId">
    <xsd:annotation>
      <xsd:documentation>ID of ISO-GW-Server.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="50"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="actionCode">
    <xsd:annotation>
      <xsd:documentation>result code for the iso8583 message.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="2"/>
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="iso8583Protocol">
    <xsd:annotation>
      <xsd:documentation>Type of the iso8583 protocol</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ATM">
        <xsd:annotation>
          <xsd:documentation>ATM</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="POS">
        <xsd:annotation>
          <xsd:documentation>POS-Terminal</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="transactionInProgressFault" type="transactionInProgressFault"/>
  <xsd:complexType name="transactionInProgressFault">
    <xsd:sequence></xsd:sequence>
  </xsd:complexType>
  <xsd:element name="transactionFault" type="transactionFault"/>
  <xsd:complexType name="transactionFault">
    <xsd:sequence>
      <xsd:element name="transactionError" type="transactionErrorEnum"/>
      <xsd:element minOccurs="0" name="correlationId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="tenantId" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="transactionErrorEnum">
    <xsd:annotation>
      <xsd:documentation>Possible iso8583 service errors</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="UNKNOWN_SUBSCRIBER">
        <xsd:annotation>
          <xsd:documentation>The msisdn is not known</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="UNKNOWN_TOPUP">
        <xsd:annotation>
          <xsd:documentation>The topup is not known</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="DUPLICATED_REQUEST">
        <xsd:annotation>
          <xsd:documentation>A duplicated request found or the topup is already cancelled</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="GENERAL_ERROR">
        <xsd:annotation>
          <xsd:documentation>A unknown error</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="transactionData">
    <xsd:annotation>
      <xsd:documentation>Container with the the transaction data.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="amount" type="xsd:long"/>
      <xsd:element name="msisdn" type="base:msisdn"/>
      <xsd:element name="paymentDate" type="xsd:dateTime"/>
      <xsd:element name="cardType" type="iso:cardType"/>
      <xsd:element name="partnerId" type="iso:partnerId"/>
      <xsd:element minOccurs="0" name="processingCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="serverId" type="iso:serverId"/>
      <xsd:element name="terminalId" type="iso:terminalId"/>
      <xsd:element name="transactionId" type="iso:transactionId"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="transactionRequestData">
    <xsd:annotation>
      <xsd:documentation>Container with the the transaction request.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="transactionData" type="transactionData"/>
      <xsd:element name="isoGwServerId" type="isoGwServerId"/>
      <xsd:element name="iso8583Protocol" type="iso8583Protocol"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="transactionResultData">
    <xsd:annotation>
      <xsd:documentation>Element defines the result of the request.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="duplicate" type="xsd:boolean"/>
      <xsd:element name="failed" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="correlationId" type="base:correlationId"/>
      <xsd:element minOccurs="0" name="tenantId" type="base:tenantId"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--Cancellation types-->
  <xsd:element name="cancel" type="Cancel"/>
  <xsd:complexType name="Cancel">
    <xsd:sequence>
      <xsd:element name="transactionRequestData" type="transactionRequestData"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="cancelResponse" type="cancelResponse"/>
  <xsd:complexType name="cancelResponse">
    <xsd:sequence>
      <xsd:element name="transactionResultData" type="transactionResultData"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--Topup types-->
  <xsd:element name="topup" type="Topup"/>
  <xsd:complexType name="Topup">
    <xsd:sequence>
      <xsd:element name="transactionRequestData" type="transactionRequestData"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="topupResponse" type="TopupResponse"/>
  <xsd:complexType name="TopupResponse">
    <xsd:sequence>
      <xsd:element name="transactionResultData" type="transactionResultData"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--healthCheck-->
  <xsd:element name="healthCheck" type="HealthCheck"/>
  <xsd:complexType name="HealthCheck"></xsd:complexType>
  <xsd:element name="healthCheckResponse" type="HealthCheckResponse"/>
  <xsd:complexType name="HealthCheckResponse"></xsd:complexType>
  <!--getRelatedTopup-->
  <xsd:element name="getRelatedTopup" type="GetRelatedTopup"/>
  <xsd:complexType name="GetRelatedTopup">
    <xsd:sequence>
      <xsd:element name="transactionData" type="transactionData"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="getRelatedTopupResponse" type="GetRelatedTopupResponse"/>
  <xsd:complexType name="GetRelatedTopupResponse">
    <xsd:sequence>
      <xsd:element name="transactionResultData" type="transactionResultData"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>]]></con:content>
      <con:type>http://www.w3.org/2001/XMLSchema</con:type>
    </con:part>
    <con:part>
      <con:url>http://mucsgdp08.sg.de.pri.o2.com:8180/drc/ws/PlainIso8583TopupService_v1?xsd=../common/Base_v1.xsd</con:url>
      <con:content><![CDATA[<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://directrecharge.o2.com/ws/base/v1/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://directrecharge.o2.com/ws/base/v1/">
  <xs:simpleType name="correlationId">
    <xs:annotation>
      <xs:documentation>ID for financial tracking. Example: 5512345678</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{9,15}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="application">
    <xs:annotation>
      <xs:documentation>Application name of the client-system</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\w*"/>
      <!--no special character like '%', '$', or '-' but '_' is valid-->
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="serviceProviderId">
    <xs:annotation>
      <xs:documentation>Service provider ID as SAS-Code.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="subscriptionId">
    <xs:annotation>
      <xs:documentation>For future use.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="amount4dp">
    <xs:annotation>
      <xs:documentation>Amount in 4DP presentation, i.e. 12,3456 EUR for 123456.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:long">
      <xs:totalDigits fixed="false" value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="currency">
    <xs:annotation>
      <xs:documentation>Currency in ISO4217-currency-code style.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="EUR">
        <xs:annotation>
          <xs:documentation>Euro curreny code</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="voucherCode">
    <xs:annotation>
      <xs:documentation>Voucher code to be redeemed.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="msisdn">
    <xs:annotation>
      <xs:documentation>Valid MSISDN. 
				DRC preference a msisdn-shape of: 4917612304567</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(\+49|0049|49|0)[1-9]\d{8,11}"/>
      <!--only digits, MSISDN like 0176/1234589 is not allowed-->
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="balance">
    <xs:annotation>
      <xs:documentation>Data type for all kind of balances.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="amount" type="tns:amount4dp">
        <xs:annotation>
          <xs:documentation>Amount in in 4DP presentation, i.e. 12,3456 EUR for 123456.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="currency" type="tns:currency">
        <xs:annotation>
          <xs:documentation>The currency unit in ISO4217-currency-code style.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="paymentUseCase">
    <xs:annotation>
      <xs:documentation>payment use case configuration</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tenantId">
    <xs:annotation>
      <xs:documentation>tenant id</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="9"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>]]></con:content>
      <con:type>http://www.w3.org/2001/XMLSchema</con:type>
    </con:part>
    <con:part>
      <con:url>http://mucsgdp08.sg.de.pri.o2.com:8180/drc/ws/PlainIso8583TopupService_v1?xsd=../common/Iso8583_v1.xsd</con:url>
      <con:content><![CDATA[<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://directrecharge.o2.com/ws/iso8583/v1/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://directrecharge.o2.com/ws/iso8583/v1/">
  <xs:simpleType name="terminalId">
    <xs:annotation>
      <xs:documentation>Identification number of the terminal in POS-System (BMP41) 
				This field has only backwards compatibility relevance for the Iso8583 
				standard.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="terminalTimestamp">
    <xs:annotation>
      <xs:documentation>Timestamp from the terminal (BMP12/13). 
				This field has only backwards compatibility relevance for the Iso8583 
				standard.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:simpleType name="transactionId">
    <xs:annotation>
      <xs:documentation>All messages of the same business transaction have the same tracenumber 
				(BMP11). For every business transaction this number must be incremented 
				(sequential number).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="serverId">
    <xs:annotation>
      <xs:documentation>Identification number from the client server. In banking environments it could
				be the identification number from the computing center (BMP33).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="processingId">
    <xs:annotation>
      <xs:documentation>Six digits long processing code starting with 28 (predefined value).
				
				Structure: 28 XX XX
				
							XX XX = Reference number
							
				For the OPAL Interface this field isn’t mandatory but needed for DRC 
				internal processing.
				This field has only backwards compatibility relevance for the Iso8583 
				standard.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{6,6}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="partnerId">
    <xs:annotation>
      <xs:documentation>The unique ID of the partner (predefined value).
				This field has only backwards compatibility relevance for the Iso8583 
				standard (BMP42).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="15"/>
      <xs:maxLength value="15"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cardType">
    <xs:annotation>
      <xs:documentation>the cardType.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="2"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>]]></con:content>
      <con:type>http://www.w3.org/2001/XMLSchema</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints>
    <con:endpoint>${#Project#drc-ATMIso8583TopupService-URL}</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="e385afea-1153-4d90-83b9-3b49a724f0ea">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
