<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="8ff53187-d934-40d9-aadc-fa5323a58fab" name="TestSuite-DEV-OCS-Settings" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:description>This test-suite contains helpfull test-cases for read and return ocs settings from DRC configuration.</con:description>
  <con:settings>
    <con:setting id="8ff53187-d934-40d9-aadc-fa5323a58fabfileName">TestSuite-DEV-OCS-Settings</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="e385afea-1153-4d90-83b9-3b49a724f0ea">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
