<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="ee1fa155-6dc2-46f1-aab3-4f0a8b745a1f" name="TestSuite-DEV-DATQIT-FileTransfer" xmlns:con="http://eviware.com/soapui/config">
  <con:description>This test-suite contains test-case for testing transfer of dat and qit files used by finance</con:description>
  <con:settings>
    <con:setting id="ee1fa155-6dc2-46f1-aab3-4f0a8b745a1ffileName">TestSuite-DEV-DATQIT-FileTransfer</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="e385afea-1153-4d90-83b9-3b49a724f0ea">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
