<?xml version="1.0" encoding="UTF-8"?>
<con:mockService id="bf0cb0c9-1407-47e1-b487-805d63fa05ad" port="8080" path="/OCS10/PackageManagementService" host="localhost" name="Virt-OCS10-PackageManagement" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="com.eviware.soapui.impl.wsdl.mock.WsdlMockService@require-soap-action">false</con:setting>
    <con:setting id="bf0cb0c9-1407-47e1-b487-805d63fa05adfileName">Virt-OCS10-PackageManagement</con:setting>
  </con:settings>
  <con:properties>
    <con:property>
      <con:name>faultString</con:name>
      <con:value>Mock: OCS10-PackageManagement-Service.  Soap fault exception</con:value>
    </con:property>
    <con:property>
      <con:name>Doc</con:name>
      <con:value><![CDATA[
Documentation for using OCS 10 mock service.packageManagement

Mock service despatch soapFault service excepction response, if MSISDN in request is:
	- null, empty or not numeric
	- MSISDN < 1 or MSISDN > 15 signs 
	
Mock service despatch default response with values from request and default values from mock service like current response below.
Default balance configured by mock is - ${#MockService#DEFAULT-balance}

To order custom soap fault response with expected values, MSISDN in request must be in format:

- MSISDN prefix must be:
	- ${#Project#MOCK-Prefix-OCS10-subscribePackage-CustomException}

- Position 6:
	1 - for service exception with  errorType=PERMANENT
	2 - for service exception with  errorType=TRANSIENT
	3 - for policy exception	with  errorType=PERMANENT
	x - for service exception default response
	
- Positions 7-14 = last 8 signs from expected error code in response
	Ex. MSISDN = 49113198800012 returns <ns3:errorCode>98800012</ns3:errorCode>

Example soap fault response for MSISDN above: 
  <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
   <soap:Body>
      <soap:Fault>
         <faultcode>soap:Server</faultcode>
         <faultstring>${#MockService#faultString}</faultstring>
         <detail>
            <ns3:serviceException xmlns="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:ns2="http://www.w3.org/2000/09/xmldsig#" xmlns:ns3="http://www.telefonica.com/OCS/To2DE/OCS_types/v1_1" xmlns:ns4="http://schemas.xmlsoap.org/ws/2002/04/secext">
               <ns3:errorCode>98800012</ns3:errorCode>
               <ns3:errorType>Permanent</ns3:errorType>
               <ns3:text>${#MockService#DEFAULT-Exception_ErrorText}</ns3:text>
               <ns3:variables>variable-1</ns3:variables>
            </ns3:serviceException>
         </detail>
      </soap:Fault>
   </soap:Body>
</soap:Envelope>

 End of documentation  
]]></con:value>
    </con:property>
    <con:property>
      <con:name>DEFAULT-Exception_ErrorType</con:name>
      <con:value>PERMANENT</con:value>
    </con:property>
    <con:property>
      <con:name>DEFAULT-Exception_ErrorCode</con:name>
      <con:value>99999</con:value>
    </con:property>
    <con:property>
      <con:name>DEFAULT-Exception_ErrorText</con:name>
      <con:value>Please see error code description in specification</con:value>
    </con:property>
    <con:property>
      <con:name>Exception-ErrorCode</con:name>
      <con:value>99999</con:value>
    </con:property>
    <con:property>
      <con:name>Exception-ErrorType</con:name>
      <con:value>PERMANENT</con:value>
    </con:property>
    <con:property>
      <con:name>DEFAULT-currencyCode</con:name>
      <con:value>EUR</con:value>
    </con:property>
    <con:property>
      <con:name>DEFAULT-exponent</con:name>
      <con:value>-2</con:value>
    </con:property>
    <con:property>
      <con:name>DEFAULT-tariffPlanId</con:name>
      <con:value>B1</con:value>
    </con:property>
    <con:property>
      <con:name>DEFAULT-balance</con:name>
      <con:value>1000</con:value>
    </con:property>
    <con:property>
      <con:name>DEFAULT-serviceProviderId</con:name>
      <con:value>02</con:value>
    </con:property>
    <con:property>
      <con:name>DEFAULT-Amount</con:name>
      <con:value>1024000</con:value>
    </con:property>
    <con:property>
      <con:name>subscribe-appId</con:name>
      <con:value>D22</con:value>
    </con:property>
    <con:property>
      <con:name>subscribe-reference</con:name>
      <con:value>3c1eea5fe5ea42d4867bdf87d6c818b4</con:value>
    </con:property>
    <con:property>
      <con:name>subscribe-fee</con:name>
      <con:value>499</con:value>
    </con:property>
    <con:property>
      <con:name>subscribe-msisdn</con:name>
      <con:value>49113998800000</con:value>
    </con:property>
    <con:property>
      <con:name>subscribe-balance</con:name>
      <con:value>501</con:value>
    </con:property>
    <con:property>
      <con:name>subscribe-packageId</con:name>
      <con:value>87c5abe31032447287ea252e7ba93d3d</con:value>
    </con:property>
    <con:property>
      <con:name>subscribe-amount</con:name>
      <con:value>1024000</con:value>
    </con:property>
    <con:property>
      <con:name>subscribe-startDate</con:name>
      <con:value>2022-10-11T12:17:11+03:00</con:value>
    </con:property>
    <con:property>
      <con:name>subscribe-endDate</con:name>
      <con:value>2022-11-10T12:17:11+02:00</con:value>
    </con:property>
  </con:properties>
  <con:constraints>
    <con:congestion>0</con:congestion>
    <con:inputBandwidth>-1</con:inputBandwidth>
    <con:outputBandwidth>-1</con:outputBandwidth>
    <con:maxThreadPoolCapacity>20</con:maxThreadPoolCapacity>
    <con:coreThreadPoolCapacity>5</con:coreThreadPoolCapacity>
    <con:virtError>
      <con:start>0</con:start>
      <con:endless>true</con:endless>
    </con:virtError>
  </con:constraints>
  <con:dataSources/>
  <con:headerValidator type="NONE"/>
</con:mockService>