<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="d3ccc47b-b8b2-4d2f-97be-7daead6e2d48" name="TestSuite-DEV-BrandAccessRights" xmlns:con="http://eviware.com/soapui/config">
  <con:description>Test-Suit for User Story DRC-389: https://www.sg.de.o2.com/jira/browse/DRC-389
Tests not allowed access to channels, ATM and on partner interfaces based on documentation:
R16-6b_multibrand_matrix.xlsx
attached to user story.

General_Configuration:

SP_NAME	SP_SAS_CODE	Limit_Cycle	SP_Internal_Code	SP_Active	BRAND_ID	Brand_Name	TENANT_ID	Tenant_Name	Partner_*	Partner_KLMTA	Partner_MIPAY	Partner_SPAIN	Partner_RATOR	Partner_TCHIB	Partner_MO_DE	Partner_STARC	Partner_DRILL	Partner_TUI_C	Partner_PPIT	Partner_V SRV	Partner_V ZVD	Partner_1006	Partner_98765	Partner_65432	Partner_54321	Partner_01004	Partner_01005	Partner_GAD M	Partner_01002	Partner_01006	Partner_FAG M	Partner_01003	Partner_01009	Partner_FINIT	Partner_01001	Partner_01007	Partner_MCE	Channel_atm	Channel_directdebit	Channel_banktransfer	Channel_voucherredemtion	Channel_creditcard	Channel_drservice	Channel_operationinfo	Channel_driso8583service	Payusecase_ID_ON_DEMAND	Payusecase_ID_Monthly	Payusecase_ID_ON_DEMAND_SMS	Payusecase_ID_LOW_BALANCE_THRESHOLD	Payusecase_ID_PACK_PAYMENT	
Mobilcom	SP501	None	MO	Yes	37	Mobilcom Prepaid	1	TEF	Yes	No	No	Yes	Yes	Yes	No	No	No	No	No	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	No	Yes	Yes	No	Yes	Yes	No	Yes	Yes	No	Yes	Yes	No	Yes	Yes	No	No	No	No	No	No	Evolution Service
Talkline / Drillisch	SP502	None	TL	Yes	38	Talkline, Mobilcom/Debitel	1	TEF	Yes	Yes	No	Yes	Yes	Yes	No	No	Yes	No	No	No	No	Yes	Yes	Yes	Yes	No	Yes	No	Yes	No	No	Yes	No	No	Yes	No	Yes	Yes	No	Yes	Yes	No	Yes	Yes	No	No	No	No	No	No	Creditcard Channel bereinigen
Freenet, Klarmobil	SP503	None	FN	Yes	39	Freenet Prepaid	1	TEF	Yes	Yes	No	Yes	Yes	Yes	No	No	No	No	No	Yes	Yes	Yes	Yes	Yes	Yes	No	No	Yes	No	No	Yes	No	No	Yes	No	No	Yes	Yes	No	No	Yes	No	Yes	Yes	No	No	No	No	No	No	Creditcard Channel bereinigen
Whitelabel 1	SP504	None	W1	Yes	40	Partner3 Prepaid	1	TEF	Yes	No	No	Yes	Yes	Yes	No	No	No	No	No	Yes	Yes	Yes	Yes	Yes	Yes	No	No	Yes	No	No	Yes	No	No	Yes	No	No	Yes	Yes	No	Yes	Yes	No	Yes	Yes	No	No	No	No	No	No	
O2 Service GmbH / Netzclub	SP606	None	NC	Yes	46	Netzclub	1	TEF	Yes	No	No	Yes	Yes	Yes	No	No	No	No	No	Yes	Yes	Yes	Yes	Yes	Yes	No	No	Yes	No	No	Yes	No	No	Yes	No	No	Yes	Yes	No	No	Yes	No	Yes	Yes	No	No	No	No	No	No	
EMMA, Schlecker	SP601	None	EM	Yes	41	SCHLECKER Prepaid	1	TEF	Yes	No	No	Yes	Yes	Yes	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	Yes	No	No	No	Yes	No	Yes	Yes	No	No	No	No	No	No	
Fonic	SP602	None	FO	Yes	42	Fonic	1	TEF	Yes	No	No	Yes	Yes	Yes	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	Yes	No	No	Yes	Yes	No	Yes	Yes	No	No	No	No	No	No	
Partner Data Prepaid	SP603	None	HP	Yes	43	Mobile Data	1	TEF	Yes	No	No	Yes	Yes	Yes	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	Yes	No	No	No	Yes	No	Yes	Yes	No	No	No	No	No	No	
Loklisten	SP604	None	T2	Yes	44	Kaufland	1	TEF	Yes	No	No	Yes	Yes	Yes	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	Yes	No	No	No	Yes	No	Yes	Yes	No	No	No	No	No	No	
Lidl	SP605	None	WP	Yes	45	FONIC - LIDL	1	TEF	Yes	No	No	Yes	Yes	Yes	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	Yes	No	No	No	Yes	No	Yes	Yes	No	No	No	No	No	No	
Vzmobil	SP607	None	SP607	Yes	47	Media-Saturn	1	TEF	Yes	No	No	Yes	Yes	Yes	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	Yes	No	No	No	Yes	No	Yes	Yes	No	No	No	No	No	No	
TürkTelekom	SP608	None	SP608	Yes	48	TürkTelekom	1	TEF	Yes	No	No	Yes	Yes	Yes	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	Yes	No	No	No	Yes	No	Yes	Yes	No	No	No	No	No	No	
Partner Prepaid	SP609	None	SP609	Yes	49	Partner Prepaid	1	TEF	Yes	No	No	Yes	Yes	Yes	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	Yes	No	No	No	Yes	No	Yes	Yes	No	No	No	No	No	No	
o2Prepaid (in IN a Prepaid Tariff with Fonic tariff structure and no airbag and no bonus)	SP611	None	SP611	Yes	51	MD_Fonic	1	TEF	Yes	No	No	Yes	Yes	Yes	Yes	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	Yes	No	No	No	Yes	No	Yes	Yes	No	No	No	No	No	No	
o2Prepaid (in IN a Prepaid Tariff with Fonic tariff structure) 	SP612	None	SP612	Yes	52	Starcom	1	TEF	Yes	No	No	Yes	Yes	Yes	No	Yes	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	Yes	No	No	No	Yes	No	Yes	Yes	No	No	No	No	No	No	
Blau	SP902	30Days	BL	Yes	2	Blau	1	TEF	Yes	No	No	Yes	Yes	Yes	No	No	No	No	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	No	Yes	Yes	No	Yes	Yes	Yes	Yes	Yes	
BSP_SP610_p14	SP610	None	SP610	Yes	50	Partner Prepaid	1	TEF	Yes	No	No	Yes	Yes	Yes	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	Yes	No	No	No	Yes	No	No	Yes	No	No	No	No	No	No	
BSP_SP614_p18	SP614	None	SP614	Yes	54	Partner Prepaid	1	TEF	Yes	No	No	Yes	Yes	Yes	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	Yes	No	No	No	Yes	No	No	Yes	No	No	No	No	No	No	
BSP_SP615_p19	SP615	None	SP615	Yes	55	Partner Prepaid	1	TEF	Yes	No	No	Yes	Yes	Yes	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	Yes	No	No	No	Yes	No	No	Yes	No	No	No	No	No	No	
Talkline 	SP613	None	SP613	Yes	53	TUI	1	TEF	Yes	No	No	Yes	Yes	Yes	No	No	No	Yes	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	Yes	No	No	No	Yes	No	Yes	Yes	No	No	No	No	No	No	
Loop	SP901	30Days	LO	Yes	1	o2	1	TEF	Yes	No	Yes	Yes	Yes	Yes	No	No	No	No	Yes	Yes	Yes	Yes	Yes	Yes	Yes	No	No	Yes	No	No	Yes	No	No	Yes	No	No	Yes	Yes	Yes	Yes	Yes	No	Yes	Yes	No	Yes	Yes	Yes	Yes	Yes	
Hermes/Tchibo	SP903	None	HE	Yes	3	Tchibo	1	TEF	Yes	No	No	Yes	Yes	Yes	No	No	No	No	No	Yes	Yes	Yes	Yes	Yes	Yes	No	No	Yes	No	No	Yes	No	No	Yes	No	No	Yes	Yes	Yes	Yes	Yes	No	Yes	Yes	No	Yes	Yes	Yes	Yes	Yes	
Alditalk	SP912	Monthly	SP912	Yes	80	Alditalk	3	ESP	Yes	No	No	No	No	No	No	No	No	No	Yes	No	No	Yes	Yes	Yes	Yes	Yes	Yes	No	Yes	No	No	Yes	No	No	Yes	No	Yes	Yes	Yes	Yes	Yes	No	No	Yes	No	Yes	Yes	Yes	Yes	Yes	
Ay Yildiz	SP904	Monthly	SP904	Yes	72	Ay Yildiz	1	TEF	Yes	No	No	No	No	No	No	No	No	No	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	No	Yes	Yes	No	Yes	Yes	No	Yes	Yes	Yes	Yes	Yes	No	No	Yes	No	Yes	Yes	Yes	Yes	Yes	
Blauworld	SP905	Monthly	SP905	Yes	73	Blauworld	1	TEF	Yes	No	No	No	No	No	No	No	No	No	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	No	Yes	Yes	No	Yes	Yes	No	Yes	Yes	No	No	Yes	No	No	Yes	No	Yes	Yes	Yes	Yes	Yes	
Blauworld by Ortel	SP913	Monthly	SP913	Yes	86	Blauworld	4	ORT	Yes	No	No	No	No	No	No	No	No	No	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	No	Yes	Yes	No	Yes	Yes	No	Yes	Yes	No	No	Yes	No	No	Yes	No	Yes	Yes	Yes	Yes	Yes	
Mobilika	SP906	Monthly	SP906	Yes	74	Mobilka	1	TEF	Yes	No	No	No	No	No	No	No	No	No	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	No	Yes	Yes	No	Yes	Yes	No	Yes	Yes	No	No	Yes	No	No	Yes	No	Yes	Yes	Yes	Yes	Yes	
Mobilika	SP911	Monthly	SP911	Yes	79	Mobilka or White Label Brand Partner PP	4	ORT	Yes	No	No	No	No	No	No	No	No	No	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	No	Yes	Yes	No	Yes	Yes	No	Yes	Yes	No	No	Yes	No	No	Yes	No	Yes	Yes	Yes	Yes	Yes	
Nettokom	SP907	Monthly	SP907	Yes	75	Nettokom	1	TEF	Yes	No	No	No	No	No	No	No	No	No	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	No	No	Yes	No	Yes	Yes	Yes	Yes	Yes	
Norma Mobil	SP908	Monthly	SP908	Yes	76	Norma mobil	1	TEF	Yes	No	No	No	No	No	No	No	No	No	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	No	No	Yes	No	Yes	Yes	Yes	Yes	Yes	
Ortel	SP909	Monthly	SP909	Yes	77	Ortel Mobile	4	ORT	Yes	No	No	No	No	No	No	No	No	No	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	No	Yes	Yes	No	Yes	Yes	No	Yes	Yes	No	No	Yes	No	No	Yes	No	Yes	Yes	Yes	Yes	Yes	
WhatsApp SIM	SP910	Monthly	SP910	Yes	78	WhatsApp SIM	1	TEF	Yes	No	No	No	No	No	No	No	No	No	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	No	No	Yes	No	Yes	Yes	Yes	Yes	Yes	

Partner_Configuration:

Partner_ID	Partner_Name	Channel_atm	Channel_directdebit	Channel_banktransfer	Channel_voucherredemtion	Channel_creditcard	Channel_drservice	Channel_operationinfo	Channel_driso8583service	Payusecase_PARTIAL_NO_SMS	Payusecase_FULL_WITH_SMS	Payusecase_FULL_NO_SMS	Payusecase_SMART_BOOKING_NO_SMS_FONIC	Payusecase_SMART_BOOKING_NO_SMS_LIDL	Payusecase_ALLNET_WO_SMSFLAT_BOOKING_NO_SMS_FONIC	Payusecase_ALLNET_WITH_SMSFLAT_BOOKING_NO_SMS_FONIC	Payusecase_SMART_S300_BOOKING_NO_SMS_LIDL	Payusecase_SMART_S500_BOOKING_NO_SMS_LIDL	Payusecase_ALLNET_500_BOOKING_NO_SMS_LIDL	Payusecase_ALLNET_1GB_BOOKING_NO_SMS_LIDL	Payusecase_ALLNET_VOICE_NO_DATA_BOOKING_NO_SMS_FONIC	Payusecase_SMART_L_BOOKING_NO_SMS_LIDL	Payusecase_INITIAL	Payusecase_ON_DEMAND	Payusecase_MONTHLY	Payusecase_LOW_BALANCE_THRESHOLD	Payusecase_ON_DEMAND_SMS	Payusecase_PACK_PAYMENT
	ID	1	2	4	5	7	3	6		5	10	11	12	13	14	15	16	17	18	19	20	21	22	23	24	25	26	27
-1	*	Yes	No	Yes	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No
1	KLMTA	Yes	No	Yes	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No
2	MIPAY	Yes	No	Yes	No	No	Yes	Yes	No	No	Yes	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No
3	SPAIN	Yes	No	Yes	Yes	No	Yes	No	No	No	Yes	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No
4	RATOR	Yes	No	Yes	No	No	Yes	No	No	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	Yes	No	No	No	No	No	No
5	TCHIB	Yes	No	Yes	No	No	Yes	No	No	No	Yes	Yes	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No
6	MO_DE	Yes	No	Yes	Yes	No	Yes	No	No	No	Yes	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No
7	STARC	Yes	No	Yes	Yes	No	Yes	No	No	No	Yes	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No
8	TUI_C	Yes	No	Yes	Yes	No	Yes	No	No	No	Yes	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No
9	DRILL	Yes	No	Yes	Yes	No	Yes	No	No	No	Yes	Yes	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No
10	PPIT	Yes	Yes	Yes	Yes	No	Yes	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	Yes	Yes	Yes	Yes	Yes	Yes
11	V SRV	Yes	No	Yes	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No
12	V ZVD	Yes	No	Yes	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No
13	1006	Yes	No	Yes	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No
14	98765	Yes	No	Yes	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No
15	65432	Yes	No	Yes	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No
16	54321	Yes	No	Yes	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No
17	01004	Yes	No	Yes	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No
18	01005	Yes	No	Yes	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No
19	GAD M	Yes	No	Yes	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No
20	01002	Yes	No	Yes	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No
21	01006	Yes	No	Yes	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No
22	FAG M	Yes	No	Yes	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No
23	01003	Yes	No	Yes	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No
24	01009	Yes	No	Yes	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No
25	FINIT	Yes	No	Yes	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No
26	01001	Yes	No	Yes	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No
27	01007	Yes	No	Yes	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No
28	MCE	Yes	No	Yes	Yes	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No	No
			Channel_directdebit = old DirectDebitService and CustomerChargingsService 																									
			The current DB-Configurtation for Channel_directdebit fit only for PPIT 																									
			old DirectDebitService: does not use: isPartnerAllowedToUseChannel()</con:description>
  <con:settings>
    <con:setting id="d3ccc47b-b8b2-4d2f-97be-7daead6e2d48fileName">TestSuite-DEV-BrandAccessRights</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>Tenant-1</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>redeemVoucher-PartnerNotExist</con:name>
      <con:value>U-000</con:value>
    </con:property>
    <con:property>
      <con:name>redeemVoucher-PartnerNotAllowed</con:name>
      <con:value>U-MIPAY</con:value>
    </con:property>
    <con:property>
      <con:name>redeemVoucher-Partner-PPIT</con:name>
      <con:value>U-461</con:value>
    </con:property>
    <con:property>
      <con:name>redeemVoucher-Brand-NotAllowed</con:name>
      <con:value>37</con:value>
    </con:property>
    <con:property>
      <con:name>ATM-PartnerCode</con:name>
      <con:value>STARC</con:value>
    </con:property>
    <con:property>
      <con:name>ATM-NotAllowed-Brand</con:name>
      <con:value>52</con:value>
    </con:property>
    <con:property>
      <con:name>ATM-BrandPartnerNotAllowed-Brand</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>Brand-NotExist</con:name>
      <con:value>999</con:value>
    </con:property>
    <con:property>
      <con:name>DD-Brand-NotAllowed</con:name>
      <con:value>53</con:value>
    </con:property>
    <con:property>
      <con:name>CC-Brand-NotAllowed</con:name>
      <con:value>38</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="e385afea-1153-4d90-83b9-3b49a724f0ea">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
