<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:WsdlInterface" wsaVersion="NONE" name="DirectRechargeEvolutionServiceForTchiboSoapBinding" type="wsdl" bindingName="{http://directrecharge.o2.com/ws/directrechargeevolutionservice/}DirectRechargeEvolutionServiceForTchiboSoapBinding" soapVersion="1_1" anonymous="optional" definition="${#Project#drc-DirectRechargeEvolutionServiceForTchibo-URL}?WSDL" id="018c602e-2b4c-4127-a905-1130d6c4783b" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="018c602e-2b4c-4127-a905-1130d6c4783bfileName">DirectRechargeEvolutionServiceForTchiboSoapBinding</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart="http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTchibo?WSDL">
    <con:part>
      <con:url>http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTchibo?WSDL</con:url>
      <con:content><![CDATA[<wsdl:definitions name="DirectRechargeEvolutionServiceForTchibo" targetNamespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:topupSyncTchibo="http://directrecharge.o2.com/ws/directrechargeevolutionservice/topupsynchronous/tchibo/" xmlns:tns="http://directrecharge.o2.com/ws/directrechargeevolutionservice/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:queryBalanceExtPsp="http://directrecharge.o2.com/ws/directrechargeevolutionservice/querybalance/externalpsp/" xmlns:paymentUseCasesDefault="http://directrecharge.o2.com/ws/directrechargeevolutionservice/getavailablepaymentusecases/" xmlns:deductBalanceTchibo="http://directrecharge.o2.com/ws/directrechargeevolutionservice/deductbalance/tchibo/">
  <wsdl:import location="http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTchibo?wsdl=getAvailablePaymentUseCase/GetAvailablePaymentUseCasesDefault.wsdl" namespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/getavailablepaymentusecases/"></wsdl:import>
  <wsdl:import location="http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTchibo?wsdl=topupSynchronous/TopupSynchronousForTchibo.wsdl" namespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/topupsynchronous/tchibo/"></wsdl:import>
  <wsdl:import location="http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTchibo?wsdl=queryBalance/QueryBalanceForExternalPsp.wsdl" namespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/querybalance/externalpsp/"></wsdl:import>
  <wsdl:import location="http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTchibo?wsdl=deductBalance/DeductBalanceForTchibo.wsdl" namespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/deductbalance/tchibo/"></wsdl:import>
  <wsdl:portType name="DirectRechargeEvolutionServiceForTchiboPortType">
    <wsdl:operation name="deductBalance">
      <wsdl:input message="deductBalanceTchibo:deductBalance" name="deductBalance"></wsdl:input>
      <wsdl:output message="deductBalanceTchibo:deductBalanceResponse" name="deductBalanceResponse"></wsdl:output>
      <wsdl:fault message="deductBalanceTchibo:deductBalanceFault" name="deductBalanceFault"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="topupSynchronous">
      <wsdl:input message="topupSyncTchibo:topupSynchronous" name="topupSynchronous"></wsdl:input>
      <wsdl:output message="topupSyncTchibo:topupSynchronousResponse" name="topupSynchronousResponse"></wsdl:output>
      <wsdl:fault message="topupSyncTchibo:topupSynchronousFault" name="topupSynchronousFault"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryBalance">
      <wsdl:input message="queryBalanceExtPsp:queryBalance" name="queryBalance"></wsdl:input>
      <wsdl:output message="queryBalanceExtPsp:queryBalanceResponse" name="queryBalanceResponse"></wsdl:output>
      <wsdl:fault message="queryBalanceExtPsp:queryBalanceFault" name="queryBalanceFault"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAvailablePaymentUseCases">
      <wsdl:input message="paymentUseCasesDefault:getAvailablePaymentUseCases" name="getAvailablePaymentUseCases"></wsdl:input>
      <wsdl:output message="paymentUseCasesDefault:getAvailablePaymentUseCasesResponse" name="getAvailablePaymentUseCasesResponse"></wsdl:output>
      <wsdl:fault message="paymentUseCasesDefault:getAvailablePaymentUseCasesFault" name="getAvailablePaymentUseCasesFault"></wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DirectRechargeEvolutionServiceForTchiboSoapBinding" type="tns:DirectRechargeEvolutionServiceForTchiboPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="deductBalance">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deductBalance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deductBalanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="deductBalanceFault">
        <soap:fault name="deductBalanceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="topupSynchronous">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="topupSynchronous">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="topupSynchronousResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="topupSynchronousFault">
        <soap:fault name="topupSynchronousFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryBalance">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="queryBalance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryBalanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="queryBalanceFault">
        <soap:fault name="queryBalanceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAvailablePaymentUseCases">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAvailablePaymentUseCases">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAvailablePaymentUseCasesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAvailablePaymentUseCasesFault">
        <soap:fault name="getAvailablePaymentUseCasesFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DirectRechargeEvolutionServiceForTchiboService">
    <wsdl:port binding="tns:DirectRechargeEvolutionServiceForTchiboSoapBinding" name="DirectRechargeEvolutionServiceForTchiboPort">
      <soap:address location="http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTchibo"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>]]></con:content>
      <con:type>http://schemas.xmlsoap.org/wsdl/</con:type>
    </con:part>
    <con:part>
      <con:url>http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTchibo?wsdl=getAvailablePaymentUseCase/GetAvailablePaymentUseCasesDefault.wsdl</con:url>
      <con:content><![CDATA[<wsdl:definitions name="GetAvaiblePaymentUseCasesDefault" targetNamespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/getavailablepaymentusecases/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:getAvailablePaymentUseCases="http://directrecharge.o2.com/ws/directrechargeevolutionservice/getavailablepaymentusecases/">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/getavailablepaymentusecases/" schemaLocation="http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTchibo?xsd=getAvailablePaymentUseCase/GetAvailablePaymentUseCasesDefault.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAvailablePaymentUseCasesResponse">
    <wsdl:part element="getAvailablePaymentUseCases:getAvailablePaymentUseCasesResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAvailablePaymentUseCasesFault">
    <wsdl:part element="getAvailablePaymentUseCases:getAvailablePaymentUseCasesFault" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAvailablePaymentUseCases">
    <wsdl:part element="getAvailablePaymentUseCases:getAvailablePaymentUseCases" name="parameters"></wsdl:part>
  </wsdl:message>
</wsdl:definitions>]]></con:content>
      <con:type>http://schemas.xmlsoap.org/wsdl/</con:type>
    </con:part>
    <con:part>
      <con:url>http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTchibo?xsd=getAvailablePaymentUseCase/GetAvailablePaymentUseCasesDefault.xsd</con:url>
      <con:content><![CDATA[<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/getavailablepaymentusecases/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://directrecharge.o2.com/ws/directrechargeevolutionservice/base/" xmlns="http://directrecharge.o2.com/ws/directrechargeevolutionservice/getavailablepaymentusecases/">
  <xs:import namespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/base/" schemaLocation="http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTchibo?xsd=xsd/Base.xsd"/>
  <xs:element name="getAvailablePaymentUseCases" type="getAvailablePaymentUseCases"/>
  <xs:complexType name="getAvailablePaymentUseCases">
    <xs:sequence></xs:sequence>
  </xs:complexType>
  <xs:element name="getAvailablePaymentUseCasesResponse" type="getAvailablePaymentUseCasesResponse"/>
  <xs:complexType name="getAvailablePaymentUseCasesResponse">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="getAvailablePaymentUseCasesResponseDto" type="getAvailablePaymentUseCasesResponseDto"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAvailablePaymentUseCasesResponseDto">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="availablePaymentUseCase" type="base:paymentUseCase"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getAvailablePaymentUseCasesFault" type="getAvailablePaymentUseCasesFault"/>
  <xs:complexType name="getAvailablePaymentUseCasesFault">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="fault" type="base:drcFault"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>]]></con:content>
      <con:type>http://www.w3.org/2001/XMLSchema</con:type>
    </con:part>
    <con:part>
      <con:url>http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTchibo?xsd=xsd/Base.xsd</con:url>
      <con:content><![CDATA[<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/base/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://directrecharge.o2.com/ws/directrechargeevolutionservice/base/">
  <xs:simpleType name="correlationId">
    <xs:annotation>
      <xs:documentation>ID for financial tracking. Example: 5512345678</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{9,15}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="status">
    <xs:restriction base="xs:int"/>
  </xs:simpleType>
  <xs:simpleType name="currency">
    <xs:annotation>
      <xs:documentation>Currency in ISO4217-currency-code style.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="EUR">
        <xs:annotation>
          <xs:documentation>Euro curreny code</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="application">
    <xs:annotation>
      <xs:documentation>Application name of the client-system</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\w*"/>
      <!--no special character like '%', '$', or '-' but '_' is valid-->
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="referenceId">
    <xs:annotation>
      <xs:documentation>An alpha numeric string (e.g. order ID). This referenceId must be unique (in 
				minimum last 365 days). Drc proposes a rising serial number.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <!--an alpha numeric string, with a max length of 32 characters-->
      <xs:minLength value="0"/>
      <xs:maxLength value="32"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="serviceProviderId">
    <xs:annotation>
      <xs:documentation>Service provider ID as SAS-Code.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="subscriptionId">
    <xs:annotation>
      <xs:documentation>For future use.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="amount">
    <xs:annotation>
      <xs:documentation>Amount in euro cent.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:totalDigits fixed="false" value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="opReference">
    <xs:annotation>
      <xs:documentation>The unique ID for operation assigned by OCS, e.g.: abcde12345678.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="32"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="monetaryAmountType">
    <xs:annotation>
      <xs:documentation>amount value in euro cent.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:totalDigits fixed="false" value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="voucherCode">
    <xs:annotation>
      <xs:documentation>Voucher code to be redeemed.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="msisdn">
    <xs:annotation>
      <xs:documentation>Valid MSISDN. 
				DRC preference a msisdn-shape of: 4917612304567</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(\+49|0049|49|0)[1-9]\d{8,11}"/>
      <!--only digits, MSISDN like 0176/1234589 is not allowed-->
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="balances">
    <xs:sequence>
      <xs:element maxOccurs="6" minOccurs="0" name="balance" type="tns:balance"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="balance">
    <xs:annotation>
      <xs:documentation>Data type for all kind of balances.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="balanceType" type="tns:balanceType">
        <xs:annotation>
          <xs:documentation>The balance type.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="amount" type="tns:amount">
        <xs:annotation>
          <xs:documentation>The amount in the smallest currency unit, e.g. in cent for Euro.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="currency" type="tns:currency">
        <xs:annotation>
          <xs:documentation>The currency unit in ISO4217-currency-code style.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="balanceType">
    <xs:annotation>
      <xs:documentation>All kind of valid balance types.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:documentation>Balance type for future use.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <!--main balance-->
        <xs:annotation>
          <xs:documentation>Balance type indicates the default main-balance.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation>
          <xs:documentation>Balance type indicates virtual balance.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="4">
        <xs:annotation>
          <xs:documentation>Balance type for future use.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="5">
        <xs:annotation>
          <xs:documentation>Balance type for future use.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="6">
        <xs:annotation>
          <xs:documentation>Balance type for future use.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="paymentUseCase">
    <xs:annotation>
      <xs:documentation>payment use case configuration</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="originator">
    <xs:annotation>
      <xs:documentation>The originator describes where the fault occurs.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="DRC">
        <xs:annotation>
          <xs:documentation>Within the drc-core-server.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Piranha">
        <xs:annotation>
          <xs:documentation>Within the piranha database.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OCS">
        <xs:annotation>
          <xs:documentation>Within the OCS.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VOMS">
        <xs:annotation>
          <xs:documentation>Within the voucher managment system.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="drcFault">
    <xs:annotation>
      <xs:documentation>Fault contains different error informations.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element default="false" maxOccurs="1" minOccurs="1" name="retryPossible" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Describes if this fault is transient or permanent. 
						If the flag is TRUE, the client might retry the
        				request otherwise not.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="originator" type="tns:originator">
        <xs:annotation>
          <xs:documentation>The originator describes where the fault occurs.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="originatorMessage" type="xs:string">
        <xs:annotation>
          <xs:documentation>Original description of the error code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="errorCode" type="xs:int">
        <xs:annotation>
          <xs:documentation>Contains the originator error code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="message" type="xs:string">
        <xs:annotation>
          <xs:documentation>Text message which describes why this drc fault 
						occurs in the processing chain.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="correlationId" type="tns:correlationId">
        <xs:annotation>
          <xs:documentation>
            <xs:annotation>
              <xs:documentation>ID for financial tracking.</xs:documentation>
            </xs:annotation>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>]]></con:content>
      <con:type>http://www.w3.org/2001/XMLSchema</con:type>
    </con:part>
    <con:part>
      <con:url>http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTchibo?wsdl=topupSynchronous/TopupSynchronousForTchibo.wsdl</con:url>
      <con:content><![CDATA[<wsdl:definitions name="TopupSynchronousForTchibo" targetNamespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/topupsynchronous/tchibo/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:topupSyncWithIso8583Types="http://directrecharge.o2.com/ws/directrechargeevolutionservice/topupsynchronous/tchibo/">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/topupsynchronous/tchibo/" schemaLocation="http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTchibo?xsd=topupSynchronous/TopupSynchronousForTchibo.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="topupSynchronous">
    <wsdl:part element="topupSyncWithIso8583Types:topupSynchronous" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="topupSynchronousFault">
    <wsdl:part element="topupSyncWithIso8583Types:topupSynchronousFault" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="topupSynchronousResponse">
    <wsdl:part element="topupSyncWithIso8583Types:topupSynchronousResponse" name="parameters"></wsdl:part>
  </wsdl:message>
</wsdl:definitions>]]></con:content>
      <con:type>http://schemas.xmlsoap.org/wsdl/</con:type>
    </con:part>
    <con:part>
      <con:url>http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTchibo?xsd=topupSynchronous/TopupSynchronousForTchibo.xsd</con:url>
      <con:content><![CDATA[<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/topupsynchronous/tchibo/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:iso8583="http://directrecharge.o2.com/ws/directrechargeevolutionservice/iso8583/" xmlns:base="http://directrecharge.o2.com/ws/directrechargeevolutionservice/base/" xmlns:balanceDefault="http://directrecharge.o2.com/ws/directrechargeevolutionservice/balance/" xmlns="http://directrecharge.o2.com/ws/directrechargeevolutionservice/topupsynchronous/tchibo/">
  <xs:import namespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/base/" schemaLocation="http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTchibo?xsd=xsd/Base.xsd"/>
  <xs:import namespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/balance/" schemaLocation="http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTchibo?xsd=xsd/BalanceDefault.xsd"/>
  <xs:import namespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/iso8583/" schemaLocation="http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTchibo?xsd=xsd/Iso8583.xsd"/>
  <xs:element name="topupSynchronous" type="topupSynchronous"/>
  <xs:element name="topupSynchronousResponse" type="topupSynchronousResponse"/>
  <xs:element name="topupSynchronousFault" type="topupSynchronousFault"/>
  <xs:complexType name="topupSynchronous">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="DirectRechargeServiceTopupDto" type="directRechargeServiceTopupDto"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="directRechargeServiceTopupDto">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="amount" type="base:amount"/>
      <xs:element default="2" maxOccurs="1" minOccurs="1" name="balanceType" type="base:balanceType"/>
      <xs:element maxOccurs="1" minOccurs="0" name="currency" type="base:currency"/>
      <xs:element maxOccurs="1" minOccurs="1" name="msisdn" type="base:msisdn"/>
      <xs:element maxOccurs="1" minOccurs="1" name="referenceId" type="base:referenceId"/>
      <xs:element default="FULL_WITH_SMS" maxOccurs="1" minOccurs="0" name="paymentUseCase" type="base:paymentUseCase"/>
      <xs:element maxOccurs="1" minOccurs="1" name="iso8583" type="iso8583:iso8583"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="topupSynchronousResponse">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="DirectRechargeServiceTopupResultDto" type="directRechargeServiceTopupResultDto"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="topupSynchronousFault">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="fault" type="base:drcFault"/>
      <xs:element maxOccurs="1" minOccurs="0" name="request" type="directRechargeServiceTopupDto"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="directRechargeServiceTopupResultDto">
    <xs:complexContent>
      <xs:extension base="directRechargeServiceTopupDto">
        <xs:sequence>
          <xs:element maxOccurs="6" minOccurs="1" name="balances" type="balanceDefault:balance"/>
          <xs:element maxOccurs="1" minOccurs="1" name="correlationId" type="base:correlationId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>]]></con:content>
      <con:type>http://www.w3.org/2001/XMLSchema</con:type>
    </con:part>
    <con:part>
      <con:url>http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTchibo?xsd=xsd/BalanceDefault.xsd</con:url>
      <con:content><![CDATA[<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/balance/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://directrecharge.o2.com/ws/directrechargeevolutionservice/base/" xmlns="http://directrecharge.o2.com/ws/directrechargeevolutionservice/balance/">
  <xs:import namespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/base/" schemaLocation="http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTchibo?xsd=xsd/Base.xsd"/>
  <xs:complexType name="balance">
    <xs:annotation>
      <xs:documentation>Data type for all kind of balances.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="amount" type="base:amount"/>
      <xs:element maxOccurs="1" minOccurs="1" name="currency" type="base:currency"/>
      <xs:element maxOccurs="1" minOccurs="1" name="ID" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>]]></con:content>
      <con:type>http://www.w3.org/2001/XMLSchema</con:type>
    </con:part>
    <con:part>
      <con:url>http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTchibo?xsd=xsd/Iso8583.xsd</con:url>
      <con:content><![CDATA[<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/iso8583/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://directrecharge.o2.com/ws/directrechargeevolutionservice/iso8583/">
  <xs:complexType name="iso8583">
    <xs:sequence>
      <xs:element name="terminalId" type="terminalId"/>
      <xs:element name="terminalTimestamp" type="terminalTimestamp"/>
      <xs:element name="terminalTraceNum" type="terminalTraceNum"/>
      <xs:element name="serverId" type="serverId"/>
      <xs:element name="processingId" type="processingId"/>
      <xs:element name="partnerId" type="partnerId"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="terminalId">
    <xs:annotation>
      <xs:documentation>Identification number of the terminal in POS-System (BMP41) 
				This field has only backwards compatibility relevance for the Iso8583 
				standard.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="terminalTimestamp">
    <xs:annotation>
      <xs:documentation>Timestamp from the terminal (BMP12/13). 
				This field has only backwards compatibility relevance for the Iso8583 
				standard.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:simpleType name="terminalTraceNum">
    <xs:annotation>
      <xs:documentation>All messages of the same business transaction have the same tracenumber 
				(BMP11). For every business transaction this number must be incremented 
				(sequential number). For DRC purpose this number is extended in length 
				from 6 to 9 digits as opposed to the native OPAL specification. 
				This field has only backwards compatibility relevance for the Iso8583 
				standard.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="9"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="serverId">
    <xs:annotation>
      <xs:documentation>Identification number from the client server. In banking environments it could
				be the identification number from the computing center.
				This field has only backwards compatibility relevance for the Iso8583 
				standard.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="processingId">
    <xs:annotation>
      <xs:documentation>Six digits long processing code starting with 28 (predefined value).
				
				Structure: 28 XX XX
				
							XX XX = Reference number
							
				For the OPAL Interface this field isn’t mandatory but needed for DRC 
				internal processing.
				This field has only backwards compatibility relevance for the Iso8583 
				standard.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{6,6}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="partnerId">
    <xs:annotation>
      <xs:documentation>The unique ID of the partner (predefined value).
				This field has only backwards compatibility relevance for the Iso8583 
				standard.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="15"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>]]></con:content>
      <con:type>http://www.w3.org/2001/XMLSchema</con:type>
    </con:part>
    <con:part>
      <con:url>http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTchibo?wsdl=queryBalance/QueryBalanceForExternalPsp.wsdl</con:url>
      <con:content><![CDATA[<wsdl:definitions name="QueryBalanceForExternalPsp" targetNamespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/querybalance/externalpsp/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:queryBalanceForExternalPsp="http://directrecharge.o2.com/ws/directrechargeevolutionservice/querybalance/externalpsp/">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/querybalance/externalpsp/" schemaLocation="http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTchibo?xsd=queryBalance/QueryBalanceForExternalPsp.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="queryBalanceFault">
    <wsdl:part element="queryBalanceForExternalPsp:queryBalanceFault" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryBalance">
    <wsdl:part element="queryBalanceForExternalPsp:queryBalance" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryBalanceResponse">
    <wsdl:part element="queryBalanceForExternalPsp:queryBalanceResponse" name="parameters"></wsdl:part>
  </wsdl:message>
</wsdl:definitions>]]></con:content>
      <con:type>http://schemas.xmlsoap.org/wsdl/</con:type>
    </con:part>
    <con:part>
      <con:url>http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTchibo?xsd=queryBalance/QueryBalanceForExternalPsp.xsd</con:url>
      <con:content><![CDATA[<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/querybalance/externalpsp/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://directrecharge.o2.com/ws/directrechargeevolutionservice/base/" xmlns:balanceDefault="http://directrecharge.o2.com/ws/directrechargeevolutionservice/balance/" xmlns="http://directrecharge.o2.com/ws/directrechargeevolutionservice/querybalance/externalpsp/">
  <xs:import namespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/balance/" schemaLocation="http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTchibo?xsd=xsd/BalanceDefault.xsd"/>
  <xs:import namespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/base/" schemaLocation="http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTchibo?xsd=xsd/Base.xsd"/>
  <xs:element name="queryBalance" type="queryBalance"/>
  <xs:element name="queryBalanceResponse" type="queryBalanceResponse"/>
  <xs:element name="queryBalanceFault" type="queryBalanceFault"/>
  <xs:complexType name="queryBalance">
    <xs:annotation>
      <xs:documentation>Request type for the query balance service.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="DirectRechargeServiceQueryDto" type="directRechargeServiceQueryDto"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="directRechargeServiceQueryDto">
    <xs:annotation>
      <xs:documentation>Data request type for the query balance service.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="msisdn" type="base:msisdn"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryBalanceResponse">
    <xs:annotation>
      <xs:documentation>Response type for the query balance service.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="DirectRechargeServiceQueryResultDto" type="directRechargeServiceQueryResultDto"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="directRechargeServiceQueryResultDto">
    <xs:annotation>
      <xs:documentation>Data response type for the query balance service.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="directRechargeServiceQueryDto">
        <xs:sequence>
          <xs:element maxOccurs="6" minOccurs="0" name="balances" nillable="true" type="balanceDefault:balance"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="queryBalanceFault">
    <xs:annotation>
      <xs:documentation>Fault type for the query balance service.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="fault" type="base:drcFault"/>
      <xs:element maxOccurs="1" minOccurs="0" name="request" type="directRechargeServiceQueryDto"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>]]></con:content>
      <con:type>http://www.w3.org/2001/XMLSchema</con:type>
    </con:part>
    <con:part>
      <con:url>http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTchibo?wsdl=deductBalance/DeductBalanceForTchibo.wsdl</con:url>
      <con:content><![CDATA[<wsdl:definitions name="DeductBalanceForTchibo" targetNamespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/deductbalance/tchibo/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:deductBalanceWithIso8583Types="http://directrecharge.o2.com/ws/directrechargeevolutionservice/deductbalance/tchibo/">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/deductbalance/tchibo/" schemaLocation="http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTchibo?xsd=deductBalance/DeductBalanceForTchibo.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="deductBalanceFault">
    <wsdl:part element="deductBalanceWithIso8583Types:deductBalanceFault" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deductBalanceResponse">
    <wsdl:part element="deductBalanceWithIso8583Types:deductBalanceResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deductBalance">
    <wsdl:part element="deductBalanceWithIso8583Types:deductBalance" name="parameters"></wsdl:part>
  </wsdl:message>
</wsdl:definitions>]]></con:content>
      <con:type>http://schemas.xmlsoap.org/wsdl/</con:type>
    </con:part>
    <con:part>
      <con:url>http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTchibo?xsd=deductBalance/DeductBalanceForTchibo.xsd</con:url>
      <con:content><![CDATA[<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/deductbalance/tchibo/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:iso8583="http://directrecharge.o2.com/ws/directrechargeevolutionservice/iso8583/" xmlns:base="http://directrecharge.o2.com/ws/directrechargeevolutionservice/base/" xmlns:balanceDefault="http://directrecharge.o2.com/ws/directrechargeevolutionservice/balance/" xmlns="http://directrecharge.o2.com/ws/directrechargeevolutionservice/deductbalance/tchibo/">
  <xs:import namespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/iso8583/" schemaLocation="http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTchibo?xsd=xsd/Iso8583.xsd"/>
  <xs:import namespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/base/" schemaLocation="http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTchibo?xsd=xsd/Base.xsd"/>
  <xs:import namespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/balance/" schemaLocation="http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTchibo?xsd=xsd/BalanceDefault.xsd"/>
  <xs:element name="deductBalance" type="deductBalance"/>
  <xs:element name="deductBalanceResponse" type="deductBalanceResponse"/>
  <xs:element name="deductBalanceFault" type="deductBalanceFault"/>
  <xs:complexType name="deductBalance">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="DirectRechargeServiceDeductDto" type="directRechargeServiceDeductDto"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="directRechargeServiceDeductDto">
    <xs:sequence>
      <xs:element default="false" maxOccurs="1" minOccurs="1" name="allOrNothingFlag" type="xs:boolean"/>
      <xs:element default="2" maxOccurs="1" minOccurs="1" name="balanceType" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="1" name="amount" type="base:amount"/>
      <xs:element maxOccurs="1" minOccurs="0" name="currency" type="base:currency"/>
      <xs:element maxOccurs="1" minOccurs="1" name="msisdn" type="base:msisdn"/>
      <xs:element maxOccurs="1" minOccurs="1" name="referenceId" type="base:referenceId"/>
      <xs:element maxOccurs="1" minOccurs="1" name="iso8583" type="iso8583:iso8583"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deductBalanceResponse">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="DirectRechargeServiceDeductResultDto" type="directRechargeServiceDeductResultDto"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="directRechargeServiceDeductResultDto">
    <xs:complexContent>
      <xs:extension base="directRechargeServiceDeductDto">
        <xs:sequence>
          <xs:element maxOccurs="6" minOccurs="1" name="balances" nillable="true" type="balanceDefault:balance"/>
          <xs:element maxOccurs="1" minOccurs="1" name="correlationId" type="base:correlationId"/>
          <xs:element default="0" name="deductedAmount" type="base:amount"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="deductBalanceFault">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="fault" type="base:drcFault"/>
      <xs:element maxOccurs="1" minOccurs="0" name="request" type="directRechargeServiceDeductDto"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>]]></con:content>
      <con:type>http://www.w3.org/2001/XMLSchema</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints>
    <con:endpoint>${#Project#drc-DirectRechargeEvolutionServiceForTchibo-URL}</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="e385afea-1153-4d90-83b9-3b49a724f0ea">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
