<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="1bed2068-72c6-493c-8cf5-4f60846b3bb4" name="TestSuite-DEV-CreditCard" xmlns:con="http://eviware.com/soapui/config">
  <con:description>Tests good and bad cases derived from interface documentation in SVN:
...\src\trunk\SRs\Interfaces\PPIT\ST_TD_R17-7_DRC_PPIT_IFS.doc</con:description>
  <con:settings>
    <con:setting id="1bed2068-72c6-493c-8cf5-4f60846b3bb4fileName">TestSuite-DEV-CreditCard</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>GENERAL_MONTHLY_MAX_AMOUNT</con:name>
      <con:value>5000</con:value>
    </con:property>
    <con:property>
      <con:name>MONTHLY_FLEX_START_30_DAYS</con:name>
      <con:value>MONTHLY_FLEX_START_30_DAYS</con:value>
    </con:property>
    <con:property>
      <con:name>MONTHLY_FIX_START_1</con:name>
      <con:value>MONTHLY_FIX_START_1</con:value>
    </con:property>
    <con:property>
      <con:name>LIMIT-RESETDATE-Flex</con:name>
      <con:value>${=java.time.LocalDateTime.now().plusDays(30).atZone(java.time.ZoneId.systemDefault()).format(java.time.format.DateTimeFormatter.ofPattern("yyyy-MM-ddXXX"))}</con:value>
    </con:property>
    <con:property>
      <con:name>LIMIT-RESETDATE-Fix</con:name>
      <con:value>${=var=Calendar.getInstance(); var.set(Calendar.DAY_OF_MONTH,1); var.add(Calendar.MONTH,1); var.getTime().format("yyyy-MM-ddXXX");}</con:value>
    </con:property>
    <con:property>
      <con:name>LIMIT-Customer-Monthly</con:name>
      <con:value>3000</con:value>
    </con:property>
    <con:property>
      <con:name>balanceType</con:name>
      <con:value>2</con:value>
    </con:property>
    <con:property>
      <con:name>PaymentType</con:name>
      <con:value>30</con:value>
    </con:property>
    <con:property>
      <con:name>Amount-Default-1</con:name>
      <con:value>1000</con:value>
    </con:property>
    <con:property>
      <con:name>Amount-Default-1-Gui</con:name>
      <con:value>100000</con:value>
    </con:property>
    <con:property>
      <con:name>Amount-Default-2</con:name>
      <con:value>199</con:value>
    </con:property>
    <con:property>
      <con:name>Amount-Default-2-Gui</con:name>
      <con:value>19900</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="e385afea-1153-4d90-83b9-3b49a724f0ea">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
