<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:WsdlInterface" id="3b07be03-905f-4f5a-8e25-c8b02307d540" wsaVersion="NONE" name="ReportingAdminSoapBinding" type="wsdl" bindingName="{http://reporting.directrecharge.o2.com/ws/admin/}ReportingAdminSoapBinding" soapVersion="1_1" anonymous="optional" definition="WSDLs/REPORTING-ADMIN/ReportingAdmin.wsdl" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="3b07be03-905f-4f5a-8e25-c8b02307d540fileName">ReportingAdminSoapBinding</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart="file:/D:/Projects/Telefonica/DirectReCharge/soapUI-NG-Pro/WSDLs/REPORTING-ADMIN/ReportingAdmin.wsdl">
    <con:part>
      <con:url>file:/D:/Projects/Telefonica/DirectReCharge/soapUI-NG-Pro/WSDLs/REPORTING-ADMIN/ReportingAdmin.wsdl</con:url>
      <con:content><![CDATA[<wsdl:definitions name="ReportingAdminAdapter" targetNamespace="http://reporting.directrecharge.o2.com/ws/admin/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://reporting.directrecharge.o2.com/ws/admin/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:adminType="http://reporting.directrecharge.o2.com/ws/admin/type/">
  <wsdl:types>
    <xsd:schema>
      <xsd:import schemaLocation="ReportingAdmin.xsd" namespace="http://reporting.directrecharge.o2.com/ws/admin/type/"/>
    </xsd:schema>
  </wsdl:types>
  <!--define messages-->
  <wsdl:message name="fault">
    <wsdl:part element="adminType:fault" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="createReportDataFrame">
    <wsdl:part element="adminType:createReportDataFrame" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="createReportDataFrameResponse">
    <wsdl:part element="adminType:createReportDataFrameResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="triggerJobManager">
    <wsdl:part element="adminType:triggerJobManager" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="triggerJobManagerResponse">
    <wsdl:part element="adminType:triggerJobManagerResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="invalidateByLongKeys">
    <wsdl:part element="adminType:invalidateByLongKeys" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="invalidateByLongKeysResponse">
    <wsdl:part element="adminType:invalidateByLongKeysResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="invalidateAll">
    <wsdl:part element="adminType:invalidateAll" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="invalidateAllResponse">
    <wsdl:part element="adminType:invalidateAllResponse" name="parameters"/>
  </wsdl:message>
  <!--define the port type of the wsdl (the port type name is responsible for the generated ws-interface)-->
  <wsdl:portType name="ReportingAdminPortType">
    <wsdl:operation name="createReportDataFrame">
      <wsdl:input message="tns:createReportDataFrame" name="createReportDataFrame"/>
      <wsdl:output message="tns:createReportDataFrameResponse" name="createReportDataFrameResponse"/>
      <wsdl:fault message="tns:fault" name="fault"/>
    </wsdl:operation>
    <wsdl:operation name="triggerJobManager">
      <wsdl:input message="tns:triggerJobManager" name="triggerJobManager"/>
      <wsdl:output message="tns:triggerJobManagerResponse" name="triggerJobManagerResponse"/>
      <wsdl:fault message="tns:fault" name="fault"/>
    </wsdl:operation>
    <wsdl:operation name="invalidateByLongKeys">
      <wsdl:input message="tns:invalidateByLongKeys" name="invalidateByLongKeys"/>
      <wsdl:output message="tns:invalidateByLongKeysResponse" name="invalidateByLongKeysResponse"/>
      <wsdl:fault message="tns:fault" name="fault"/>
    </wsdl:operation>
    <wsdl:operation name="invalidateAll">
      <wsdl:input message="tns:invalidateAll" name="invalidateAll"/>
      <wsdl:output message="tns:invalidateAllResponse" name="invalidateAllResponse"/>
      <wsdl:fault message="tns:fault" name="fault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReportingAdminSoapBinding" type="tns:ReportingAdminPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createReportDataFrame">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createReportDataFrame">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createReportDataFrameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="triggerJobManager">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="triggerJobManager">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="triggerJobManagerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="invalidateByLongKeys">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="invalidateByLongKeys">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="invalidateByLongKeysResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="invalidateAll">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="invalidateAll">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="invalidateAllResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReportingAdminService">
    <wsdl:port name="ReportingAdminServicePort" binding="tns:ReportingAdminSoapBinding">
      <soap:address location="http://localhost:8080/reporting/ws/ReportingAdminService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>]]></con:content>
      <con:type>http://schemas.xmlsoap.org/wsdl/</con:type>
    </con:part>
    <con:part>
      <con:url>file:\D:\Projects\Telefonica\DirectReCharge\soapUI-NG-Pro\WSDLs\REPORTING-ADMIN\ReportingAdmin.xsd</con:url>
      <con:content><![CDATA[<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://reporting.directrecharge.o2.com/ws/admin/type/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://reporting.directrecharge.o2.com/ws/admin/type/">
  <!--create report data frame-->
  <xs:element name="createReportDataFrame">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="tenantIdList" type="tenantIdList"/>
        <xs:element name="reportTypeList" type="reportTypeList"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="tenantIdList">
    <xs:sequence>
      <xs:element name="tenantId" type="xs:int" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reportTypeList">
    <xs:sequence>
      <xs:element name="value" type="reportType" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="reportType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MONTHLY_SUM_OF_DEBTS"/>
      <xs:enumeration value="MONTHLY_LIST_OF_DEBTS"/>
      <xs:enumeration value="MONTHLY_SUM_OF_RECONCILED_PAYMENTS"/>
      <xs:enumeration value="MONTHLY_LIST_OF_RECONCILED_PAYMENTS"/>
      <xs:enumeration value="MONTHLY_SUM_OF_DEBTS_AGAINST_ACQUIRER"/>
      <xs:enumeration value="MONTHLY_AGGREGATE"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="createReportDataFrameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="reportDataFrameList" type="reportDataFrameList"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="reportDataFrameList">
    <xs:sequence>
      <xs:element name="reportDataFrame" type="reportDataFrame" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reportDataFrame">
    <xs:sequence>
      <xs:element name="startDate" type="xs:dateTime"/>
      <xs:element name="endDate" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
  <!--trigger taskCollector-->
  <xs:element name="triggerJobManager" type="triggerJobManagerType"/>
  <xs:complexType name="triggerJobManagerType">
    <xs:sequence>
      <xs:element name="jobName" type="xs:string"/>
      <xs:element name="repeat" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="triggerJobManagerResponse" type="triggerJobManagerResponseType"/>
  <xs:complexType name="triggerJobManagerResponseType">
    <xs:sequence>
      <xs:element name="taskId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="invalidateByLongKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="group" type="invalidationGroupEnum"/>
        <xs:element name="longKeyList" type="longKeyListType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="invalidateByLongKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="clusterSynchronized" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="invalidateAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="group" type="invalidationGroupEnum"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="invalidateAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="clusterSynchronized" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="invalidationGroupEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SETTINGS"/>
      <xs:enumeration value="CONFIGURATION"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="longKeyListType">
    <xs:sequence>
      <xs:element name="longKey" type="xs:long" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="fault" type="faultType"/>
  <xs:complexType name="faultType">
    <xs:sequence>
      <xs:element name="specificFaultType" type="xs:string" default="UNSPECIFIED"/>
      <xs:element name="errorMessage" type="xs:string" minOccurs="0"/>
      <xs:element name="errorCode" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>]]></con:content>
      <con:type>http://www.w3.org/2001/XMLSchema</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints>
    <con:endpoint>${#Project#drc-ReportService-URL}</con:endpoint>
    <con:endpoint>http://localhost:8080/reporting/ws/ReportingAdminService</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="e385afea-1153-4d90-83b9-3b49a724f0ea">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
