<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:WsdlInterface" id="c804ee9c-bdbf-481b-945f-85cbd7da6bef" wsaVersion="NONE" name="DirectRechargeEvolutionServiceForTgpsV3SoapBinding" type="wsdl" bindingName="{http://directrecharge.o2.com/ws/directrechargeevolutionservice/}DirectRechargeEvolutionServiceForTgpsV3SoapBinding" soapVersion="1_1" anonymous="optional" definition="${#Project#drc-DirectRechargeEvolutionServiceForTgpsV3-URL}?wsdl" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="c804ee9c-bdbf-481b-945f-85cbd7da6beffileName">DirectRechargeEvolutionServiceForTgpsV3SoapBinding</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart="http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTgps_v3?wsdl">
    <con:part>
      <con:url>http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTgps_v3?wsdl</con:url>
      <con:content><![CDATA[<wsdl:definitions name="DirectRechargeEvolutionServiceForTgps_v3" targetNamespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:topupsynchronous="http://directrecharge.o2.com/ws/directrechargeevolutionservice/topupsynchronous/tgps/v3/" xmlns:tns="http://directrecharge.o2.com/ws/directrechargeevolutionservice/" xmlns:subscribepackage="http://directrecharge.o2.com/ws/directrechargeevolutionservice/subscribepackage/tgps/v3/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:querybalance="http://directrecharge.o2.com/ws/directrechargeevolutionservice/querybalance/tgps/v3/" xmlns:getavailablepaymentusecases="http://directrecharge.o2.com/ws/directrechargeevolutionservice/getavailablepaymentusecases/tgps/v3/" xmlns:deductbalance="http://directrecharge.o2.com/ws/directrechargeevolutionservice/deductbalance/tgps/v3/">
  <wsdl:import location="http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTgps_v3?wsdl=getAvailablePaymentUseCase/GetAvailablePaymentUseCasesForTgps_v3.wsdl" namespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/getavailablepaymentusecases/tgps/v3/"></wsdl:import>
  <wsdl:import location="http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTgps_v3?wsdl=subscribePackage/SubscribePackageForTgps_v3.wsdl" namespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/subscribepackage/tgps/v3/"></wsdl:import>
  <wsdl:import location="http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTgps_v3?wsdl=topupSynchronous/TopupSynchronousForTgps_v3.wsdl" namespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/topupsynchronous/tgps/v3/"></wsdl:import>
  <wsdl:import location="http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTgps_v3?wsdl=deductBalance/DeductBalanceForTgps_v3.wsdl" namespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/deductbalance/tgps/v3/"></wsdl:import>
  <wsdl:import location="http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTgps_v3?wsdl=queryBalance/QueryBalanceForTgps_v3.wsdl" namespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/querybalance/tgps/v3/"></wsdl:import>
  <wsdl:portType name="DirectRechargeEvolutionServiceForTgpsV3PortType">
    <wsdl:operation name="deductBalance">
      <wsdl:input message="deductbalance:deductBalance" name="deductBalance"></wsdl:input>
      <wsdl:output message="deductbalance:deductBalanceResponse" name="deductBalanceResponse"></wsdl:output>
      <wsdl:fault message="deductbalance:deductBalanceFault" name="deductBalanceFault"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="topupSynchronous">
      <wsdl:input message="topupsynchronous:topupSynchronous" name="topupSynchronous"></wsdl:input>
      <wsdl:output message="topupsynchronous:topupSynchronousResponse" name="topupSynchronousResponse"></wsdl:output>
      <wsdl:fault message="topupsynchronous:topupSynchronousFault" name="topupSynchronousFault"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryBalance">
      <wsdl:input message="querybalance:queryBalance" name="queryBalance"></wsdl:input>
      <wsdl:output message="querybalance:queryBalanceResponse" name="queryBalanceResponse"></wsdl:output>
      <wsdl:fault message="querybalance:queryBalanceFault" name="queryBalanceFault"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAvailablePaymentUseCases">
      <wsdl:input message="getavailablepaymentusecases:getAvailablePaymentUseCases" name="getAvailablePaymentUseCases"></wsdl:input>
      <wsdl:output message="getavailablepaymentusecases:getAvailablePaymentUseCasesResponse" name="getAvailablePaymentUseCasesResponse"></wsdl:output>
      <wsdl:fault message="getavailablepaymentusecases:getAvailablePaymentUseCasesFault" name="getAvailablePaymentUseCasesFault"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="subscribePackage">
      <wsdl:input message="subscribepackage:subscribePackage" name="subscribePackage"></wsdl:input>
      <wsdl:output message="subscribepackage:subscribePackageResponse" name="subscribePackageResponse"></wsdl:output>
      <wsdl:fault message="subscribepackage:subscribePackageFault" name="subscribePackageFault"></wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DirectRechargeEvolutionServiceForTgpsV3SoapBinding" type="tns:DirectRechargeEvolutionServiceForTgpsV3PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="deductBalance">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deductBalance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deductBalanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="deductBalanceFault">
        <soap:fault name="deductBalanceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="topupSynchronous">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="topupSynchronous">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="topupSynchronousResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="topupSynchronousFault">
        <soap:fault name="topupSynchronousFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryBalance">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="queryBalance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryBalanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="queryBalanceFault">
        <soap:fault name="queryBalanceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAvailablePaymentUseCases">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAvailablePaymentUseCases">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAvailablePaymentUseCasesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getAvailablePaymentUseCasesFault">
        <soap:fault name="getAvailablePaymentUseCasesFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="subscribePackage">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="subscribePackage">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="subscribePackageResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="subscribePackageFault">
        <soap:fault name="subscribePackageFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DirectRechargeEvolutionServiceForTgpsV3Service">
    <wsdl:port binding="tns:DirectRechargeEvolutionServiceForTgpsV3SoapBinding" name="DirectRechargeEvolutionServiceForTgpsV3Port">
      <soap:address location="http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTgps_v3"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>]]></con:content>
      <con:type>http://schemas.xmlsoap.org/wsdl/</con:type>
    </con:part>
    <con:part>
      <con:url>http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTgps_v3?wsdl=getAvailablePaymentUseCase/GetAvailablePaymentUseCasesForTgps_v3.wsdl</con:url>
      <con:content><![CDATA[<wsdl:definitions name="GetAvaiblePaymentUseCasesForTgps" targetNamespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/getavailablepaymentusecases/tgps/v3/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://directrecharge.o2.com/ws/directrechargeevolutionservice/getavailablepaymentusecases/tgps/v3/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/getavailablepaymentusecases/tgps/v3/" schemaLocation="http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTgps_v3?xsd=getAvailablePaymentUseCase/GetAvailablePaymentUseCasesForTgps_v3.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAvailablePaymentUseCasesResponse">
    <wsdl:part element="tns:getAvailablePaymentUseCasesResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAvailablePaymentUseCasesFault">
    <wsdl:part element="tns:getAvailablePaymentUseCasesFault" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAvailablePaymentUseCases">
    <wsdl:part element="tns:getAvailablePaymentUseCases" name="parameters"></wsdl:part>
  </wsdl:message>
</wsdl:definitions>]]></con:content>
      <con:type>http://schemas.xmlsoap.org/wsdl/</con:type>
    </con:part>
    <con:part>
      <con:url>http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTgps_v3?xsd=getAvailablePaymentUseCase/GetAvailablePaymentUseCasesForTgps_v3.xsd</con:url>
      <con:content><![CDATA[<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/getavailablepaymentusecases/tgps/v3/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://directrecharge.o2.com/ws/directrechargeevolutionservice/base/" xmlns="http://directrecharge.o2.com/ws/directrechargeevolutionservice/getavailablepaymentusecases/tgps/v3/">
  <xs:import namespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/base/" schemaLocation="http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTgps_v3?xsd=xsd/Base.xsd"/>
  <xs:element name="getAvailablePaymentUseCases" type="getAvailablePaymentUseCases"/>
  <xs:complexType name="getAvailablePaymentUseCases">
    <xs:sequence></xs:sequence>
  </xs:complexType>
  <xs:element name="getAvailablePaymentUseCasesResponse" type="getAvailablePaymentUseCasesResponse"/>
  <xs:complexType name="getAvailablePaymentUseCasesResponse">
    <xs:sequence>
      <xs:element name="getAvailablePaymentUseCasesResponseDto" type="getAvailablePaymentUseCasesResponseDto"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAvailablePaymentUseCasesResponseDto">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="availablePaymentUseCase" type="base:paymentUseCase"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getAvailablePaymentUseCasesFault" type="getAvailablePaymentUseCasesFault"/>
  <xs:complexType name="getAvailablePaymentUseCasesFault">
    <xs:sequence>
      <xs:element name="fault" type="base:drcFault"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>]]></con:content>
      <con:type>http://www.w3.org/2001/XMLSchema</con:type>
    </con:part>
    <con:part>
      <con:url>http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTgps_v3?xsd=xsd/Base.xsd</con:url>
      <con:content><![CDATA[<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/base/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://directrecharge.o2.com/ws/directrechargeevolutionservice/base/">
  <xs:simpleType name="correlationId">
    <xs:annotation>
      <xs:documentation>ID for financial tracking. Example: 5512345678</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{9,15}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="status">
    <xs:restriction base="xs:int"/>
  </xs:simpleType>
  <xs:simpleType name="currency">
    <xs:annotation>
      <xs:documentation>Currency in ISO4217-currency-code style.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="EUR">
        <xs:annotation>
          <xs:documentation>Euro curreny code</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="application">
    <xs:annotation>
      <xs:documentation>Application name of the client-system</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\w*"/>
      <!--no special character like '%', '$', or '-' but '_' is valid-->
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="referenceId">
    <xs:annotation>
      <xs:documentation>An alpha numeric string (e.g. order ID). This referenceId must be unique (in 
				minimum last 365 days). Drc proposes a rising serial number.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <!--an alpha numeric string, with a max length of 32 characters-->
      <xs:minLength value="0"/>
      <xs:maxLength value="32"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="serviceProviderId">
    <xs:annotation>
      <xs:documentation>Service provider ID as SAS-Code.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="subscriptionId">
    <xs:annotation>
      <xs:documentation>For future use.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="amount">
    <xs:annotation>
      <xs:documentation>Amount in euro cent.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:totalDigits fixed="false" value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="opReference">
    <xs:annotation>
      <xs:documentation>The unique ID for operation assigned by OCS, e.g.: abcde12345678.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="32"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="monetaryAmountType">
    <xs:annotation>
      <xs:documentation>amount value in euro cent.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:totalDigits fixed="false" value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="voucherCode">
    <xs:annotation>
      <xs:documentation>Voucher code to be redeemed.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="msisdn">
    <xs:annotation>
      <xs:documentation>Valid MSISDN. 
				DRC preference a msisdn-shape of: 4917612304567</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(\+49|0049|49|0)[1-9]\d{8,11}"/>
      <!--only digits, MSISDN like 0176/1234589 is not allowed-->
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="balances">
    <xs:sequence>
      <xs:element maxOccurs="6" minOccurs="0" name="balance" type="tns:balance"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="balance">
    <xs:annotation>
      <xs:documentation>Data type for all kind of balances.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="balanceType" type="tns:balanceType">
        <xs:annotation>
          <xs:documentation>The balance type.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="amount" type="tns:amount">
        <xs:annotation>
          <xs:documentation>The amount in the smallest currency unit, e.g. in cent for Euro.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="currency" type="tns:currency">
        <xs:annotation>
          <xs:documentation>The currency unit in ISO4217-currency-code style.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="balanceType">
    <xs:annotation>
      <xs:documentation>All kind of valid balance types.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:documentation>Balance type for future use.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <!--main balance-->
        <xs:annotation>
          <xs:documentation>Balance type indicates the default main-balance.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation>
          <xs:documentation>Balance type indicates virtual balance.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="4">
        <xs:annotation>
          <xs:documentation>Balance type for future use.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="5">
        <xs:annotation>
          <xs:documentation>Balance type for future use.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="6">
        <xs:annotation>
          <xs:documentation>Balance type for future use.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="paymentUseCase">
    <xs:annotation>
      <xs:documentation>payment use case configuration</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="originator">
    <xs:annotation>
      <xs:documentation>The originator describes where the fault occurs.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="DRC">
        <xs:annotation>
          <xs:documentation>Within the drc-core-server.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Piranha">
        <xs:annotation>
          <xs:documentation>Within the piranha database.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OCS">
        <xs:annotation>
          <xs:documentation>Within the OCS.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VOMS">
        <xs:annotation>
          <xs:documentation>Within the voucher managment system.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="drcFault">
    <xs:annotation>
      <xs:documentation>Fault contains different error informations.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element default="false" maxOccurs="1" minOccurs="1" name="retryPossible" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Describes if this fault is transient or permanent. 
						If the flag is TRUE, the client might retry the
        				request otherwise not.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="originator" type="tns:originator">
        <xs:annotation>
          <xs:documentation>The originator describes where the fault occurs.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="originatorMessage" type="xs:string">
        <xs:annotation>
          <xs:documentation>Original description of the error code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="errorCode" type="xs:int">
        <xs:annotation>
          <xs:documentation>Contains the originator error code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="message" type="xs:string">
        <xs:annotation>
          <xs:documentation>Text message which describes why this drc fault 
						occurs in the processing chain.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="correlationId" type="tns:correlationId">
        <xs:annotation>
          <xs:documentation>
            <xs:annotation>
              <xs:documentation>ID for financial tracking.</xs:documentation>
            </xs:annotation>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>]]></con:content>
      <con:type>http://www.w3.org/2001/XMLSchema</con:type>
    </con:part>
    <con:part>
      <con:url>http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTgps_v3?wsdl=subscribePackage/SubscribePackageForTgps_v3.wsdl</con:url>
      <con:content><![CDATA[<wsdl:definitions name="SubscribePackageForTgps" targetNamespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/subscribepackage/tgps/v3/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://directrecharge.o2.com/ws/directrechargeevolutionservice/subscribepackage/tgps/v3/">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/subscribepackage/tgps/v3/" schemaLocation="http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTgps_v3?xsd=subscribePackage/SubscribePackageForTgps_v3.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="subscribePackageFault">
    <wsdl:part element="tns:subscribePackageFault" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="subscribePackage">
    <wsdl:part element="tns:subscribePackage" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="subscribePackageResponse">
    <wsdl:part element="tns:subscribePackageResponse" name="parameters"></wsdl:part>
  </wsdl:message>
</wsdl:definitions>]]></con:content>
      <con:type>http://schemas.xmlsoap.org/wsdl/</con:type>
    </con:part>
    <con:part>
      <con:url>http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTgps_v3?xsd=subscribePackage/SubscribePackageForTgps_v3.xsd</con:url>
      <con:content><![CDATA[<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/subscribepackage/tgps/v3/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://directrecharge.o2.com/ws/directrechargeevolutionservice/base/" xmlns="http://directrecharge.o2.com/ws/directrechargeevolutionservice/subscribepackage/tgps/v3/">
  <xs:import namespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/base/" schemaLocation="http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTgps_v3?xsd=xsd/Base.xsd"/>
  <!--special base types for the subscribe-package-service-->
  <xs:simpleType name="packageId">
    <xs:annotation>
      <xs:documentation>Package identifier. Possible values are determined by OCS-configuration.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <!--an alpha numeric string, with a max length of 32 characters-->
      <xs:minLength value="0"/>
      <xs:maxLength value="32"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="startDate">
    <xs:annotation>
      <xs:documentation>First date the package is valid. Not used for periodic packages. It shall not be sent if validityPeriod is present.
				Maximum precision is HOURS, for one time packages, and DAYS, for cyclic packages.
				If not present, the value preconfigured in OCS system for this package is used except if either 
				endDate or validityPeriod are present.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:simpleType name="endDate">
    <xs:annotation>
      <xs:documentation>Last date the package is valid. Not used for periodic packages. It shall not be sent if validityPeriod is present.
				Maximum precision is HOURS, for one time packages, and DAYS, for cyclic packages.
				If not present, the value preconfigured in OCS system for this package is used except 
				if either startDate or validityPeriod are present.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:simpleType name="validityPeriod">
    <xs:annotation>
      <xs:documentation>Number of days for which the package is valid (can be used instead of startDate / endDate). 
				Not used for periodic packages. If not present, the value preconfigured in OCS system 
				for this package is used except if either startDate or endDate are present.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:totalDigits fixed="false" value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="validityHours">
    <xs:annotation>
      <xs:documentation>Number of hours for the last date of validity.
				Not used for periodic packages.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:totalDigits fixed="false" value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="unspecifiedAmountType">
    <xs:annotation>
      <xs:documentation>general / unspecified amount value for example monetary amount or 
				the amount of booked packs in kilobytes.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:totalDigits fixed="false" value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="promotionalCode">
    <xs:annotation>
      <xs:documentation>Promotional code applied (if any)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="32"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="lifeCycleState">
    <xs:annotation>
      <xs:documentation>A status of the account lifecycle</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="lifeCycleSubState">
    <xs:annotation>
      <xs:documentation>A sub status of the account lifecycle</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tariffPlanId">
    <xs:annotation>
      <xs:documentation>Tariff plan identifier of the account</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <!--END of special base types-->
  <!--Request component-->
  <xs:element name="subscribePackage" type="subscribePackage"/>
  <xs:complexType name="subscribePackage">
    <xs:sequence>
      <xs:element name="subscribePackageDto" type="subscribePackageDto"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="subscribePackageDto">
    <xs:sequence>
      <xs:element name="msisdn" type="base:msisdn"/>
      <xs:element name="referenceId" type="base:referenceId"/>
      <xs:element name="packageId" type="packageId"/>
      <xs:element minOccurs="0" name="startDate" type="startDate"/>
      <xs:element minOccurs="0" name="endDate" type="endDate"/>
      <xs:element minOccurs="0" name="validityPeriod" type="validityPeriod"/>
      <xs:element minOccurs="0" name="validityHours" type="validityHours"/>
      <xs:element name="subscriptionFee" type="base:monetaryAmountType">
        <xs:annotation>
          <xs:documentation>Package subscription fee in euro-cent.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="amount" type="unspecifiedAmountType">
        <xs:annotation>
          <xs:documentation>Pack amount of unspecified type (like euro-cent or pack size). If not present, 
						the value preconfigured in OCS value will be used.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--Response component-->
  <xs:element name="subscribePackageResponse" type="subscribePackageResponse"/>
  <xs:complexType name="subscribePackageResponse">
    <xs:sequence>
      <xs:element name="subscribePackageResultDto" type="subscribePackageResultDto"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="subscribePackageResultDto">
    <xs:complexContent>
      <xs:extension base="subscribePackageDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="promotionalCode" type="promotionalCode"/>
          <xs:element name="lifeCycleState" type="lifeCycleState"/>
          <xs:element name="lifeCycleSubState" type="lifeCycleSubState"/>
          <xs:element name="tariffPlanId" type="tariffPlanId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--Fault component-->
  <xs:element name="subscribePackageFault" type="subscribePackageFault"/>
  <xs:complexType name="subscribePackageFault">
    <xs:sequence>
      <xs:element name="fault" type="base:drcFault"/>
      <xs:element name="request" type="subscribePackageDto"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>]]></con:content>
      <con:type>http://www.w3.org/2001/XMLSchema</con:type>
    </con:part>
    <con:part>
      <con:url>http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTgps_v3?wsdl=topupSynchronous/TopupSynchronousForTgps_v3.wsdl</con:url>
      <con:content><![CDATA[<wsdl:definitions name="TopupSynchronousForTgps" targetNamespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/topupsynchronous/tgps/v3/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://directrecharge.o2.com/ws/directrechargeevolutionservice/topupsynchronous/tgps/v3/">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/topupsynchronous/tgps/v3/" schemaLocation="http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTgps_v3?xsd=topupSynchronous/TopupSynchronousForTgps_v3.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="topupSynchronousFault">
    <wsdl:part element="tns:topupSynchronousFault" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="topupSynchronousResponse">
    <wsdl:part element="tns:topupSynchronousResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="topupSynchronous">
    <wsdl:part element="tns:topupSynchronous" name="parameters"></wsdl:part>
  </wsdl:message>
</wsdl:definitions>]]></con:content>
      <con:type>http://schemas.xmlsoap.org/wsdl/</con:type>
    </con:part>
    <con:part>
      <con:url>http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTgps_v3?xsd=topupSynchronous/TopupSynchronousForTgps_v3.xsd</con:url>
      <con:content><![CDATA[<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/topupsynchronous/tgps/v3/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:baseTopup="http://directrecharge.o2.com/ws/directrechargeevolutionservice/topup/" xmlns:base="http://directrecharge.o2.com/ws/directrechargeevolutionservice/base/" xmlns="http://directrecharge.o2.com/ws/directrechargeevolutionservice/topupsynchronous/tgps/v3/">
  <xs:import namespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/base/" schemaLocation="http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTgps_v3?xsd=xsd/Base.xsd"/>
  <xs:element name="topupSynchronous" type="topupSynchronous"/>
  <xs:element name="topupSynchronousResponse" type="topupSynchronousResponse"/>
  <xs:element name="topupSynchronousFault" type="topupSynchronousFault"/>
  <xs:complexType name="topupSynchronous">
    <xs:sequence>
      <xs:element name="topupDto" type="topupDto"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="topupDto">
    <xs:sequence>
      <xs:element name="amount" type="base:amount"/>
      <xs:element default="2" name="balanceType" type="base:balanceType"/>
      <xs:element default="EUR" minOccurs="0" name="currency" type="base:currency"/>
      <xs:element minOccurs="0" name="gratificationDate" type="xs:dateTime"/>
      <xs:element name="msisdn" type="base:msisdn"/>
      <xs:element name="referenceId" type="base:referenceId"/>
      <xs:element minOccurs="0" name="serviceProviderId" type="base:serviceProviderId"/>
      <xs:element minOccurs="0" name="subscriptionId" type="base:serviceProviderId"/>
      <xs:element default="FULL_WITH_SMS" minOccurs="0" name="paymentUseCase" type="base:paymentUseCase"/>
      <xs:element minOccurs="0" name="voucherCode" type="base:voucherCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="topupSynchronousResponse">
    <xs:sequence>
      <xs:element name="topupResultDto" type="topupResultDto"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="topupSynchronousFault">
    <xs:sequence>
      <xs:element name="fault" type="base:drcFault"/>
      <xs:element name="request" type="topupDto"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="topupResultDto">
    <xs:complexContent>
      <xs:extension base="topupDto">
        <xs:sequence>
          <xs:element name="balances" type="base:balances"/>
          <xs:element name="correlationId" type="base:correlationId"/>
          <xs:element minOccurs="0" name="opReference" type="base:opReference"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>]]></con:content>
      <con:type>http://www.w3.org/2001/XMLSchema</con:type>
    </con:part>
    <con:part>
      <con:url>http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTgps_v3?wsdl=deductBalance/DeductBalanceForTgps_v3.wsdl</con:url>
      <con:content><![CDATA[<wsdl:definitions name="DeductBalanceForTgps" targetNamespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/deductbalance/tgps/v3/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:deductbalance="http://directrecharge.o2.com/ws/directrechargeevolutionservice/deductbalance/tgps/v3/">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/deductbalance/tgps/v3/" schemaLocation="http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTgps_v3?xsd=deductBalance/DeductBalanceForTgps_v3.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="deductBalanceFault">
    <wsdl:part element="deductbalance:deductBalanceFault" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deductBalanceResponse">
    <wsdl:part element="deductbalance:deductBalanceResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deductBalance">
    <wsdl:part element="deductbalance:deductBalance" name="parameters"></wsdl:part>
  </wsdl:message>
</wsdl:definitions>]]></con:content>
      <con:type>http://schemas.xmlsoap.org/wsdl/</con:type>
    </con:part>
    <con:part>
      <con:url>http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTgps_v3?xsd=deductBalance/DeductBalanceForTgps_v3.xsd</con:url>
      <con:content><![CDATA[<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/deductbalance/tgps/v3/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://directrecharge.o2.com/ws/directrechargeevolutionservice/base/" xmlns="http://directrecharge.o2.com/ws/directrechargeevolutionservice/deductbalance/tgps/v3/">
  <xs:import namespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/base/" schemaLocation="http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTgps_v3?xsd=xsd/Base.xsd"/>
  <xs:element name="deductBalance" type="deductBalance"/>
  <xs:element name="deductBalanceResponse" type="deductBalanceResponse"/>
  <xs:element name="deductBalanceFault" type="deductBalanceFault"/>
  <xs:complexType name="deductBalance">
    <xs:annotation>
      <xs:documentation>Request type for the deduct balance service.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="deductBalanceDto" type="deductBalanceDto"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deductBalanceDto">
    <xs:annotation>
      <xs:documentation>Data request type for the deduct balance service.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element default="false" name="allOrNothingFlag" type="xs:boolean"/>
      <xs:element name="amount" type="base:amount"/>
      <xs:element minOccurs="0" name="currency" type="base:currency"/>
      <xs:element name="msisdn" type="base:msisdn"/>
      <xs:element minOccurs="0" name="referenceId" type="base:referenceId"/>
      <xs:element minOccurs="0" name="serviceProviderId" type="base:serviceProviderId"/>
      <xs:element minOccurs="0" name="subscriptionId" type="base:subscriptionId"/>
      <xs:element name="balanceType" type="base:balanceType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deductBalanceResponse">
    <xs:annotation>
      <xs:documentation>Response type for the deduct balance service.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="deductBalanceResultDto" type="deductBalanceResultDto"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deductBalanceResultDto">
    <xs:annotation>
      <xs:documentation>Data response type for the deduct balance service.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="deductBalanceDto">
        <xs:sequence>
          <xs:element name="balances" type="base:balances"/>
          <xs:element name="correlationId" type="base:correlationId"/>
          <xs:element default="0" name="deductedAmount" type="base:amount"/>
          <xs:element minOccurs="0" name="opReference" type="base:opReference"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="deductBalanceFault">
    <xs:annotation>
      <xs:documentation>Fault type for the deduct balance service.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fault" type="base:drcFault"/>
      <xs:element name="request" type="deductBalanceDto"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>]]></con:content>
      <con:type>http://www.w3.org/2001/XMLSchema</con:type>
    </con:part>
    <con:part>
      <con:url>http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTgps_v3?wsdl=queryBalance/QueryBalanceForTgps_v3.wsdl</con:url>
      <con:content><![CDATA[<wsdl:definitions name="QueryBalanceForTgps" targetNamespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/querybalance/tgps/v3/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://directrecharge.o2.com/ws/directrechargeevolutionservice/querybalance/tgps/v3/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/querybalance/tgps/v3/" schemaLocation="http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTgps_v3?xsd=queryBalance/QueryBalanceForTgps_v3.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="queryBalanceFault">
    <wsdl:part element="tns:queryBalanceFault" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryBalance">
    <wsdl:part element="tns:queryBalance" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryBalanceResponse">
    <wsdl:part element="tns:queryBalanceResponse" name="parameters"></wsdl:part>
  </wsdl:message>
</wsdl:definitions>]]></con:content>
      <con:type>http://schemas.xmlsoap.org/wsdl/</con:type>
    </con:part>
    <con:part>
      <con:url>http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTgps_v3?xsd=queryBalance/QueryBalanceForTgps_v3.xsd</con:url>
      <con:content><![CDATA[<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/querybalance/tgps/v3/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://directrecharge.o2.com/ws/directrechargeevolutionservice/base/" xmlns="http://directrecharge.o2.com/ws/directrechargeevolutionservice/querybalance/tgps/v3/">
  <xs:import namespace="http://directrecharge.o2.com/ws/directrechargeevolutionservice/base/" schemaLocation="http://mucsgdp08.sg.de.pri.o2.com:8780/drc/ws/PlainDirectRechargeEvolutionServiceForTgps_v3?xsd=xsd/Base.xsd"/>
  <xs:element name="queryBalance" type="queryBalance"/>
  <xs:element name="queryBalanceResponse" type="queryBalanceResponse"/>
  <xs:element name="queryBalanceFault" type="queryBalanceFault"/>
  <xs:complexType name="queryBalance">
    <xs:annotation>
      <xs:documentation>Request type for the query balance service.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="queryBalanceDto" type="queryBalanceDto"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryBalanceDto">
    <xs:annotation>
      <xs:documentation>Data request type for the query balance service.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="msisdn" type="base:msisdn"/>
      <xs:element minOccurs="0" name="serviceProviderId" type="base:serviceProviderId"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryBalanceResponse">
    <xs:annotation>
      <xs:documentation>Response type for the query balance service.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="queryBalanceResultDto" type="queryBalanceResultDto"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryBalanceResultDto">
    <xs:annotation>
      <xs:documentation>Data response type for the query balance service.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="queryBalanceDto">
        <xs:sequence>
          <xs:element name="balances" type="base:balances"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="queryBalanceFault">
    <xs:annotation>
      <xs:documentation>Fault type for the query balance service.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fault" type="base:drcFault"/>
      <xs:element name="request" type="queryBalanceDto"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>]]></con:content>
      <con:type>http://www.w3.org/2001/XMLSchema</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints>
    <con:endpoint>${#Project#drc-DirectRechargeEvolutionServiceForTgpsV3-URL}</con:endpoint>
    <con:endpoint>http://mucsgdp08.sg.de.pri.o2.com:8180/drc/ws/DirectRechargeEvolutionServiceForTgps_v3</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="e385afea-1153-4d90-83b9-3b49a724f0ea">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
