<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="5522ab75-8934-4db5-810c-906f43390295" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://mucsgdp08:6686" type="rest" definitionUrl="http://mucsgdp08.sg.de.pri.o2.com:6686?wadl" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="5522ab75-8934-4db5-810c-906f43390295fileName">http%3A%2F%2Fmucsgdp08%3A6686</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart="http://mucsgdp08:6686.wadl">
    <con:part>
      <con:url>http://mucsgdp08:6686.wadl</con:url>
      <con:content><![CDATA[<application xmlns="http://wadl.dev.java.net/2009/02">
  <doc xml:lang="en" title="http://mucsgdp08:6686"/>
  <resources base="${#Project#drc-ATM-Proxy-URL-1}">
    <resource path="proxy/{partner}" id="Proxy">
      <doc xml:lang="en" title="Proxy"/>
      <param name="partner" type="xs:string" required="false" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <method name="POST" id="Proxy">
        <doc xml:lang="en" title="Proxy"/>
        <request>
          <param default="gad" name="partner" type="xs:string" required="false" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
          <representation mediaType="application/json" element="iso8:opalMessage" xmlns:iso8="http://directrecharge.o2.com/iso8583/"/>
          <representation mediaType="application/xml" element="iso8:opalMessage" xmlns:iso8="http://directrecharge.o2.com/iso8583/"/>
        </request>
        <request>
          <param default="voebAtm" name="partner" type="xs:string" required="false" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
          <representation mediaType="application/json" element="iso8:opalMessage" xmlns:iso8="http://directrecharge.o2.com/iso8583/"/>
          <representation mediaType="application/xml" element="iso8:opalMessage" xmlns:iso8="http://directrecharge.o2.com/iso8583/"/>
        </request>
        <response status="404 405 415">
          <representation mediaType="text/html;charset=utf-8" element="html"/>
        </response>
        <response status="">
          <representation mediaType="application/json" element="iso8:opalMessage" xmlns:iso8="http://directrecharge.o2.com/iso8583/"/>
          <representation mediaType="application/xml" element="iso8:opalMessage" xmlns:iso8="http://directrecharge.o2.com/iso8583/"/>
        </response>
        <response status="200">
          <representation mediaType="text/html;charset=ISO-8859-1" element="html"/>
          <representation mediaType="application/xml" element="iso8:opalResponse" xmlns:iso8="http://directrecharge.o2.com/iso8583/"/>
        </response>
      </method>
    </resource>
  </resources>
</application>]]></con:content>
      <con:type>http://wadl.dev.java.net/2009/02</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints>
    <con:endpoint>${#Project#drc-ATM-Proxy-URL}</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="e385afea-1153-4d90-83b9-3b49a724f0ea">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
