<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:WsdlInterface" id="93bb9238-d47f-4fac-aa54-6603f9f17ada" wsaVersion="NONE" name="AtmPaymentServiceSoapBinding" type="wsdl" bindingName="{http://soap.atmpayment.service.directrecharge.o2.com/}AtmPaymentServiceSoapBinding" soapVersion="1_1" anonymous="optional" definition="${#Project#drc-ATMPaymentService-URL}?wsdl" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="93bb9238-d47f-4fac-aa54-6603f9f17adafileName">AtmPaymentServiceSoapBinding</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart="http://mucsgdp08.sg.de.pri.o2.com:8080/drc/ws/AtmPaymentService?wsdl">
    <con:part>
      <con:url>http://mucsgdp08.sg.de.pri.o2.com:8080/drc/ws/AtmPaymentService?wsdl</con:url>
      <con:content><![CDATA[<wsdl:definitions name="AtmPaymentService" targetNamespace="http://soap.atmpayment.service.directrecharge.o2.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soap.atmpayment.service.directrecharge.o2.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http">
  <wsdl:types>
    <xs:schema targetNamespace="http://soap.atmpayment.service.directrecharge.o2.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="Cancel" type="tns:Cancel"/>
      <xs:element name="CancelResponse" type="tns:CancelResponse"/>
      <xs:element name="GetCorrelationId" type="tns:GetCorrelationId"/>
      <xs:element name="GetCorrelationIdResponse" type="tns:GetCorrelationIdResponse"/>
      <xs:element name="TechnicalExceptionEnum" type="tns:TechnicalExceptionEnum"/>
      <xs:element name="Topup" type="tns:Topup"/>
      <xs:element name="TopupFailedEnum" type="tns:TopupFailedEnum"/>
      <xs:element name="TopupResponse" type="tns:TopupResponse"/>
      <xs:complexType name="Cancel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Payment" type="tns:Payment"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Payment">
        <xs:sequence>
          <xs:element name="Amount" type="xs:long"/>
          <xs:element name="Msisdn" type="xs:string"/>
          <xs:element name="PaymentDate" type="xs:dateTime"/>
          <xs:element name="CardType" type="xs:string"/>
          <xs:element name="PartnerId" type="xs:string"/>
          <xs:element name="ProcessingCode" type="xs:string"/>
          <xs:element minOccurs="0" name="ServerId" type="xs:string"/>
          <xs:element name="TerminalId" type="xs:string"/>
          <xs:element name="TransactionId" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CancelResponse">
        <xs:sequence>
          <xs:element name="CorrelationId" type="xs:string"/>
          <xs:element minOccurs="0" name="TenantId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetCorrelationId">
        <xs:sequence>
          <xs:element minOccurs="0" name="PartnerId" type="xs:string"/>
          <xs:element minOccurs="0" name="TerminalId" type="xs:string"/>
          <xs:element minOccurs="0" name="TransactionId" type="xs:string"/>
          <xs:element minOccurs="0" name="PaymentDate" type="xs:dateTime"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetCorrelationIdResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="CorrelationId" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Topup">
        <xs:sequence>
          <xs:element name="Payment" type="tns:Payment"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TopupResponse">
        <xs:sequence>
          <xs:element name="CorrelationId" type="xs:string"/>
          <xs:element minOccurs="0" name="TenantId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="TechnicalExceptionEnum">
        <xs:restriction base="xs:string">
          <xs:enumeration value="COMMON_TECHNICAL_ERROR"/>
          <xs:enumeration value="COMMUNICATION_ERROR"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="TopupFailedEnum">
        <xs:restriction base="xs:string">
          <xs:enumeration value="WRONG_DATA"/>
          <xs:enumeration value="UNKNOWN_SUBSCRIBER"/>
          <xs:enumeration value="RECHARGE_NOT_POSSIBLE"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="cancelResponse">
    <wsdl:part element="tns:CancelResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancel">
    <wsdl:part element="tns:Cancel" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCorrelationId">
    <wsdl:part element="tns:GetCorrelationId" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="TechnicalException">
    <wsdl:part element="tns:TechnicalExceptionEnum" name="TechnicalException"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCorrelationIdResponse">
    <wsdl:part element="tns:GetCorrelationIdResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="TopupFailedException">
    <wsdl:part element="tns:TopupFailedEnum" name="TopupFailedException"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="topupResponse">
    <wsdl:part element="tns:TopupResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="topup">
    <wsdl:part element="tns:Topup" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AtmPaymentServicePortType">
    <wsdl:operation name="cancel">
      <wsdl:input message="tns:cancel" name="cancel"></wsdl:input>
      <wsdl:output message="tns:cancelResponse" name="cancelResponse"></wsdl:output>
      <wsdl:fault message="tns:TechnicalException" name="TechnicalException"></wsdl:fault>
      <wsdl:fault message="tns:TopupFailedException" name="TopupFailedException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCorrelationId">
      <wsdl:input message="tns:getCorrelationId" name="getCorrelationId"></wsdl:input>
      <wsdl:output message="tns:getCorrelationIdResponse" name="getCorrelationIdResponse"></wsdl:output>
      <wsdl:fault message="tns:TechnicalException" name="TechnicalException"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="topup">
      <wsdl:input message="tns:topup" name="topup"></wsdl:input>
      <wsdl:output message="tns:topupResponse" name="topupResponse"></wsdl:output>
      <wsdl:fault message="tns:TechnicalException" name="TechnicalException"></wsdl:fault>
      <wsdl:fault message="tns:TopupFailedException" name="TopupFailedException"></wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AtmPaymentServiceSoapBinding" type="tns:AtmPaymentServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="cancel">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cancel">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cancelResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="TopupFailedException">
        <soap:fault name="TopupFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCorrelationId">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCorrelationId">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCorrelationIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="topup">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="topup">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="topupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="TopupFailedException">
        <soap:fault name="TopupFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AtmPaymentService">
    <wsdl:port binding="tns:AtmPaymentServiceSoapBinding" name="AtmPaymentServicePort">
      <soap:address location="http://mucsgdp08.sg.de.pri.o2.com:8080/drc/ws/AtmPaymentService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>]]></con:content>
      <con:type>http://schemas.xmlsoap.org/wsdl/</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints>
    <con:endpoint>${#Project#drc-ATMPaymentService-URL}</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="e385afea-1153-4d90-83b9-3b49a724f0ea">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
