<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="d5efe6cd-7355-433b-afef-9d7e8f735a5e" name="TestSuite-DEV-ATM" xmlns:con="http://eviware.com/soapui/config">
  <con:description>Tests good and bad cases for charging from bank automaten with proxy-service</con:description>
  <con:settings>
    <con:setting id="com.smartbear.ready.history.view.ClientResultsView$OptionsForm@disable_log">false</con:setting>
    <con:setting id="com.smartbear.ready.history.view.ClientResultsView$OptionsForm@errors_only">true</con:setting>
    <con:setting id="com.smartbear.ready.history.view.ClientResultsView$OptionsForm@follow">true</con:setting>
    <con:setting id="79e07c26-12ee-4fbd-8175-09fb30d337e0fileName">TestSuite-DEV-ATM</con:setting>
    <con:setting id="d5efe6cd-7355-433b-afef-9d7e8f735a5efileName">TestSuite-DEV-ATM</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>Timeout</con:name>
      <con:value>15000</con:value>
    </con:property>
    <con:property>
      <con:name>DRC-PaymentType-ATM</con:name>
      <con:value>20</con:value>
    </con:property>
    <con:property>
      <con:name>Amount-10</con:name>
      <con:value>10.00</con:value>
    </con:property>
    <con:property>
      <con:name>Amount-10-Response</con:name>
      <con:value>1000</con:value>
    </con:property>
    <con:property>
      <con:name>Amount-Gui-out</con:name>
      <con:value>100000</con:value>
    </con:property>
    <con:property>
      <con:name>TargetATM</con:name>
      <con:value>voebAtm</con:value>
    </con:property>
    <con:property>
      <con:name>TargetPOS</con:name>
      <con:value>voebPos</con:value>
    </con:property>
    <con:property>
      <con:name>asID-Default</con:name>
      <con:value>340001</con:value>
    </con:property>
    <con:property>
      <con:name>asID-Unknown</con:name>
      <con:value>340000</con:value>
    </con:property>
    <con:property>
      <con:name>asID-Prefix</con:name>
      <con:value>3400</con:value>
    </con:property>
    <con:property>
      <con:name>asID-00</con:name>
      <con:value>00</con:value>
    </con:property>
    <con:property>
      <con:name>asID-Tenant03</con:name>
      <con:value>03</con:value>
    </con:property>
    <con:property>
      <con:name>asID-Tenant04</con:name>
      <con:value>04</con:value>
    </con:property>
    <con:property>
      <con:name>Partner-1-Code</con:name>
      <con:value>1006</con:value>
    </con:property>
    <con:property>
      <con:name>Partner-2-Code</con:name>
      <con:value>01006</con:value>
    </con:property>
    <con:property>
      <con:name>Partner-3-Code</con:name>
      <con:value>01002</con:value>
    </con:property>
    <con:property>
      <con:name>ReqTyp-Autorisierung</con:name>
      <con:value>0200</con:value>
    </con:property>
    <con:property>
      <con:name>ReqTyp-Storno</con:name>
      <con:value>0400</con:value>
    </con:property>
    <con:property>
      <con:name>ReqTyp-Diagnose</con:name>
      <con:value>0800</con:value>
    </con:property>
    <con:property>
      <con:name>BLZ</con:name>
      <con:value>79969930</con:value>
    </con:property>
    <con:property>
      <con:name>NetzbetreiberID</con:name>
      <con:value>123</con:value>
    </con:property>
    <con:property>
      <con:name>TerminalID</con:name>
      <con:value>12345</con:value>
    </con:property>
    <con:property>
      <con:name>LocalTime</con:name>
      <con:value>${=java.time.LocalDateTime.now().format(java.time.format.DateTimeFormatter.ofPattern("HHmmss"))}</con:value>
    </con:property>
    <con:property>
      <con:name>LocalDate</con:name>
      <con:value>${=java.time.LocalDateTime.now().format(java.time.format.DateTimeFormatter.ofPattern("MMdd" ))}</con:value>
    </con:property>
    <con:property>
      <con:name>JahrCurrent</con:name>
      <con:value>${=java.time.LocalDateTime.now().format(java.time.format.DateTimeFormatter.ofPattern("yyyy"))}</con:value>
    </con:property>
    <con:property>
      <con:name>abwZeichenTripleDES</con:name>
      <con:value>280110</con:value>
    </con:property>
    <con:property>
      <con:name>abwZeichenAES</con:name>
      <con:value>280120</con:value>
    </con:property>
    <con:property>
      <con:name>encriptionTripleDES</con:name>
      <con:value><![CDATA[<sicherheitsverfahren>0100000002000000</sicherheitsverfahren> <verschluesselungsparameter> <mkGeneration>41</mkGeneration> 	<mkVersion>05</mkVersion> 	<rndMes>65D3CDFD7D1ED4F56B2F76431B5441FA</rndMes> 	<rndPac>00000000000000000000000000000000</rndPac> </verschluesselungsparameter>]]></con:value>
    </con:property>
    <con:property>
      <con:name>encriptionAES</con:name>
      <con:value><![CDATA[<aesVerschluesselungsparameter>	 	<mkGeneration>41</mkGeneration>	 	<mkVersion>30</mkVersion>	 	<mkTable>00</mkTable>	 	<rnd>65D3CDFD7D1ED4F56B2F76431B5441FA</rnd>  </aesVerschluesselungsparameter>]]></con:value>
    </con:property>
    <con:property>
      <con:name>macTrippleDES</con:name>
      <con:value>&lt;messageAuthenticationCode/></con:value>
    </con:property>
    <con:property>
      <con:name>macAES</con:name>
      <con:value>&lt;aesMessageAuthenticationCode/></con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="e385afea-1153-4d90-83b9-3b49a724f0ea">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
