<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="5457385d-ef34-4e78-ace0-2aee3468f7a5" name="Test Suite-DEV-InvalidateSettingsAndConfig" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:description>https://www.sg.de.o2.com/jira/browse/DRC-3648
https://www.sg.de.o2.com/jira/browse/DRC-3649

Note! Because settings on DEV must be tested for releases, implemented test-case must be disabled for regression tests. 
Implemented test-case must be executed each time one new release candidate together with tests for logging or ws-security.</con:description>
  <con:settings>
    <con:setting id="5457385d-ef34-4e78-ace0-2aee3468f7a5fileName">Test-Suite-DEV-InvalidateSettingsAndConfig</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="e385afea-1153-4d90-83b9-3b49a724f0ea">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
