<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="ce64e194-cbf7-4195-acf7-f8f15c304afa" name="TestSuite-DEV-ChargeCustomer" xmlns:con="http://eviware.com/soapui/config">
  <con:description>Tests good and bad cases derived from interface documentation in SVN:
...\DirectReCharge\src\trunk\SRs\Interfaces\PPIT\ST_TD_R16-4_DRC_PPIT_IFS.doc
and Fasad:
...\SRs\FASAD\ST_OVD_DP_DRC_FASAD_JAP.docx</con:description>
  <con:settings>
    <con:setting id="ce64e194-cbf7-4195-acf7-f8f15c304afafileName">TestSuite-DEV-ChargeCustomer</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>DB_SelectPrefix</con:name>
      <con:value>com.o2.directrecharge.core.settings.MultibrandCategoryEnum.ID</con:value>
    </con:property>
    <con:property>
      <con:name>DRC-PaymentType-DirectDebit</con:name>
      <con:value>50</con:value>
    </con:property>
    <con:property>
      <con:name>LIMIT-ValidationCycle-Flex-30</con:name>
      <con:value>MONTHLY_FLEX_START_30_DAYS</con:value>
    </con:property>
    <con:property>
      <con:name>LIMIT-ValidationCycle-Fix-1</con:name>
      <con:value>MONTHLY_FIX_START_1</con:value>
    </con:property>
    <con:property>
      <con:name>LIMIT-ResetDate_Flex</con:name>
      <con:value>${=java.time.LocalDateTime.now().plusDays(30).atZone(java.time.ZoneId.systemDefault()).format(java.time.format.DateTimeFormatter.ofPattern("yyyy-MM-ddXXX"))}</con:value>
    </con:property>
    <con:property>
      <con:name>LIMIT-ResetDate_Fix</con:name>
      <con:value>${=var=Calendar.getInstance(); var.set(Calendar.DAY_OF_MONTH,1); var.add(Calendar.MONTH,1); var.getTime().format("yyyy-MM-ddXXX");}</con:value>
    </con:property>
    <con:property>
      <con:name>LIMIT-ResetDate_NextDate</con:name>
      <con:value>${=java.time.OffsetDateTime.now().plusDays(1).format(java.time.format.DateTimeFormatter.ofPattern( "yyyy-MM-ddXXX"))}</con:value>
    </con:property>
    <con:property>
      <con:name>chargeCustomer.balanceType</con:name>
      <con:value>2</con:value>
    </con:property>
    <con:property>
      <con:name>TECHNICAL-Limit</con:name>
      <con:value>38000</con:value>
    </con:property>
    <con:property>
      <con:name>TECHNICAL-Limit+1</con:name>
      <con:value>38001</con:value>
    </con:property>
    <con:property>
      <con:name>ON_DEMAND_TOPUP_LIMIT</con:name>
      <con:value>10</con:value>
    </con:property>
    <con:property>
      <con:name>LOW_BALANCE_THRESHOLD_TOPUP_LIMIT</con:name>
      <con:value>10</con:value>
    </con:property>
    <con:property>
      <con:name>GENERAL_DAILY_MAX_AMOUNT</con:name>
      <con:value>2000</con:value>
    </con:property>
    <con:property>
      <con:name>GENERAL_DAILY_MAX_AMOUNT-Gui</con:name>
      <con:value>200000</con:value>
    </con:property>
    <con:property>
      <con:name>GENERAL_MONTHLY_MAX_AMOUNT</con:name>
      <con:value>5000</con:value>
    </con:property>
    <con:property>
      <con:name>GENERAL_MONTHLY_MAX_AMOUNT-Gui</con:name>
      <con:value>500000</con:value>
    </con:property>
    <con:property>
      <con:name>MONTHLY_UNLIMITED_AMOUNT</con:name>
      <con:value>10000</con:value>
    </con:property>
    <con:property>
      <con:name>rechargeAmount-Default</con:name>
      <con:value>100</con:value>
    </con:property>
    <con:property>
      <con:name>rechargeAmount-Default-Gui</con:name>
      <con:value>10000</con:value>
    </con:property>
    <con:property>
      <con:name>Monthly.rechargeDay-Default</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>Monthly.rechargeAmount-Default</con:name>
      <con:value>1000</con:value>
    </con:property>
    <con:property>
      <con:name>Threshold.thresholdAmount-Min</con:name>
      <con:value>400</con:value>
    </con:property>
    <con:property>
      <con:name>Threshold.thresholdAmount-Min-Gui</con:name>
      <con:value>40000</con:value>
    </con:property>
    <con:property>
      <con:name>Threshold.thresholdAmount-Default</con:name>
      <con:value>2000</con:value>
    </con:property>
    <con:property>
      <con:name>Threshold.thresholdAmount-Default-Gui</con:name>
      <con:value>200000</con:value>
    </con:property>
    <con:property>
      <con:name>Threshold.rechargeAmount-Default</con:name>
      <con:value>1500</con:value>
    </con:property>
    <con:property>
      <con:name>registerOption.customerMonteryParam.MonthlyLimit-Default</con:name>
      <con:value>3000</con:value>
    </con:property>
    <con:property>
      <con:name>CAMT54-Amount-Default</con:name>
      <con:value>1000</con:value>
    </con:property>
    <con:property>
      <con:name>CAMT54-Amount-Default-Gui</con:name>
      <con:value>100000</con:value>
    </con:property>
    <con:property>
      <con:name>DRC-OCS-extNotify-userCode</con:name>
      <con:value>OPGE</con:value>
    </con:property>
    <con:property>
      <con:name>DRC-OCS-extNotify-OpSubCode-4EURO</con:name>
      <con:value>5</con:value>
    </con:property>
    <con:property>
      <con:name>DRC-OCS-extNotify-OpSubCode-10EURO</con:name>
      <con:value>6</con:value>
    </con:property>
    <con:property>
      <con:name>DRC-OCS-extNotify-OpSubCode-20EURO</con:name>
      <con:value>7</con:value>
    </con:property>
    <con:property>
      <con:name>MAXIDTASK</con:name>
      <con:value>10010665</con:value>
    </con:property>
    <con:property>
      <con:name>MAXIDCAMT</con:name>
      <con:value>2884</con:value>
    </con:property>
    <con:property>
      <con:name>MAXIDCAMT_After</con:name>
      <con:value>2924</con:value>
    </con:property>
    <con:property>
      <con:name>MAXIDTASK_After</con:name>
      <con:value>10010777</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="e385afea-1153-4d90-83b9-3b49a724f0ea">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
