<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="c3c0d29a-6fef-44de-9904-9b7ab438f4d4" name="TestSuite-DEV-GUI-Services" xmlns:con="http://eviware.com/soapui/config">
  <con:description>Tests different good and bad cases from DRC GUI services.</con:description>
  <con:settings>
    <con:setting id="c3c0d29a-6fef-44de-9904-9b7ab438f4d4fileName">TestSuite-DEV-GUI-Services</con:setting>
    <con:setting id="GeneratableJUnitReport@Folder">D:\Projects\Telefonica\DirectReCharge\drc-qa\soapUI-Pro\DRC_Release_21-5\TestReports</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>mft-fileProcess-delay-ms</con:name>
      <con:value>20000</con:value>
    </con:property>
    <con:property>
      <con:name>chargeCustomer.balanceType</con:name>
      <con:value>2</con:value>
    </con:property>
    <con:property>
      <con:name>Password</con:name>
      <con:value>Start##123</con:value>
    </con:property>
    <con:property>
      <con:name>Password-New</con:name>
      <con:value>123##Start</con:value>
    </con:property>
    <con:property>
      <con:name>MSISDN-Balance-Default</con:name>
      <con:value>1000</con:value>
    </con:property>
    <con:property>
      <con:name>MSISDN-Balance-GUI</con:name>
      <con:value>100000</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="e385afea-1153-4d90-83b9-3b49a724f0ea">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
