<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="6d9580d2-dc8a-41d6-a411-2c67dd8106d5" name="TestSuite-DEV-Evolution-Services" xmlns:con="http://eviware.com/soapui/config">
  <con:description>Tests good- and bad-cases from evolution services for each brand.</con:description>
  <con:settings>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">false</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
    <con:setting id="6d9580d2-dc8a-41d6-a411-2c67dd8106d5fileName">TestSuite-DEV-Evolution-Services</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>Pause-BeforeDeduct</con:name>
      <con:value>15000</con:value>
    </con:property>
    <con:property>
      <con:name>DRC-PaymentType-Tchibo</con:name>
      <con:value>50</con:value>
    </con:property>
    <con:property>
      <con:name>DRC-PaymentType-topUpDeduct</con:name>
      <con:value>60</con:value>
    </con:property>
    <con:property>
      <con:name>DRC-PaymentType-Voucher</con:name>
      <con:value>70</con:value>
    </con:property>
    <con:property>
      <con:name>Balance-OCS-Default</con:name>
      <con:value>1000</con:value>
    </con:property>
    <con:property>
      <con:name>Balance-OCS-Default-Gui-out</con:name>
      <con:value>100000</con:value>
    </con:property>
    <con:property>
      <con:name>Amount-Default</con:name>
      <con:value>100</con:value>
    </con:property>
    <con:property>
      <con:name>Amount-Gui-out</con:name>
      <con:value>10000</con:value>
    </con:property>
    <con:property>
      <con:name>balanceType</con:name>
      <con:value>2</con:value>
    </con:property>
    <con:property>
      <con:name>exponent-Default</con:name>
      <con:value>-2</con:value>
    </con:property>
    <con:property>
      <con:name>UseCase-Default</con:name>
      <con:value>FULL_WITH_SMS</con:value>
    </con:property>
    <con:property>
      <con:name>Tchibo-Tenant</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>Tchibo-Brand</con:name>
      <con:value>3</con:value>
    </con:property>
    <con:property>
      <con:name>Tchibo-allOrNothingFlag</con:name>
      <con:value>false</con:value>
    </con:property>
    <con:property>
      <con:name>Tchibo-ISO-terminalId</con:name>
      <con:value>58261435</con:value>
    </con:property>
    <con:property>
      <con:name>Tchibo-ISO-serverId</con:name>
      <con:value>299992</con:value>
    </con:property>
    <con:property>
      <con:name>Tchibo-ISO-processingId</con:name>
      <con:value>280110</con:value>
    </con:property>
    <con:property>
      <con:name>Tchibo-ISO-partnerId</con:name>
      <con:value>PBX TCHIBO</con:value>
    </con:property>
    <con:property>
      <con:name>Tchibo-CorrID-Prefix</con:name>
      <con:value>35</con:value>
    </con:property>
    <con:property>
      <con:name>MiPay-OperationIdent</con:name>
      <con:value>chargeO2CustomerAtMi-Pay</con:value>
    </con:property>
    <con:property>
      <con:name>MiPay-CorrID-Prefix</con:name>
      <con:value>40</con:value>
    </con:property>
    <con:property>
      <con:name>MiPay-Status-OK</con:name>
      <con:value>0</con:value>
    </con:property>
    <con:property>
      <con:name>MiPay-Status-Error</con:name>
      <con:value>102</con:value>
    </con:property>
    <con:property>
      <con:name>MiPay-Partner</con:name>
      <con:value>2</con:value>
    </con:property>
    <con:property>
      <con:name>MiPay-PartnerName</con:name>
      <con:value>MIPAY</con:value>
    </con:property>
    <con:property>
      <con:name>Rator-packageId</con:name>
      <con:value>TestPack</con:value>
    </con:property>
    <con:property>
      <con:name>Rator-SP-ID-Default</con:name>
      <con:value>SP901</con:value>
    </con:property>
    <con:property>
      <con:name>Rator-subscripFee-Default</con:name>
      <con:value>499</con:value>
    </con:property>
    <con:property>
      <con:name>Rator-amount-Default</con:name>
      <con:value>1024000</con:value>
    </con:property>
    <con:property>
      <con:name>Drillisch-Tenant</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>Drillisch-Brand</con:name>
      <con:value>38</con:value>
    </con:property>
    <con:property>
      <con:name>Drillisch-terminalId</con:name>
      <con:value>89141292</con:value>
    </con:property>
    <con:property>
      <con:name>Drillisch-serverId</con:name>
      <con:value>392598</con:value>
    </con:property>
    <con:property>
      <con:name>Drillisch-processingId</con:name>
      <con:value>285369</con:value>
    </con:property>
    <con:property>
      <con:name>Drillisch-partnerId</con:name>
      <con:value>DRILLISCH</con:value>
    </con:property>
    <con:property>
      <con:name>MobilDebitel-Tenant</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>MobilDebitel-Brand</con:name>
      <con:value>51</con:value>
    </con:property>
    <con:property>
      <con:name>MobilDebitel-terminalId</con:name>
      <con:value>60609999</con:value>
    </con:property>
    <con:property>
      <con:name>MobilDebitel-serverId</con:name>
      <con:value>299992</con:value>
    </con:property>
    <con:property>
      <con:name>MobilDebitel-processingId</con:name>
      <con:value>280230</con:value>
    </con:property>
    <con:property>
      <con:name>MobilDebitel-partnerId</con:name>
      <con:value>MO_DE</con:value>
    </con:property>
    <con:property>
      <con:name>MobilDebitel-allOrNothingFlag</con:name>
      <con:value>false</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="e385afea-1153-4d90-83b9-3b49a724f0ea">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
