<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="7d467b82-07e4-4bc4-b03f-d7b4d946fb6c" name="TestSuite-DEV-PAIN" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:description>Contains usable test-case for using in another test-cases</con:description>
  <con:settings>
    <con:setting id="7d467b82-07e4-4bc4-b03f-d7b4d946fb6cfileName">TestSuite-DEV-PAIN</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>outCountTask-OSC-Notification</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>outCountTask-CreateNewPain008-Tenant-1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>outCountTask-CreateNewPain008-Tenant-2</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>outCountTask-PPIT-Notification</con:name>
      <con:value/>
    </con:property>
  </con:properties>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="e385afea-1153-4d90-83b9-3b49a724f0ea">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
