<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="e41362d8-407e-44eb-8434-ecf7443eee00" name="TestSuite-DEV-HealthyChecks" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="e41362d8-407e-44eb-8434-ecf7443eee00fileName">TestSuite-DEV-HealthyChecks</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="e385afea-1153-4d90-83b9-3b49a724f0ea">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
